{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="row pt-5">
        <div class="col-12 segment">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>{{ 'app.ui.contact_us'|trans }}</h1>
                    <p class="text-center">{{ 'app.ui.contact_us.message'|trans }}</p>
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            <h1>{{ 'app.ui.locations'|trans }}</h1>

            <div class="row">
                {% for location in locations %}
                <div class="col-4">
                    <div class="collapse" id="collapse-{{ location.id }}">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                    <div>
                        <img src="{{ location.filePath }}" >
                        <a class="d-flex justify-content-between collapsed" data-toggle="collapse" data-target="#collapse-{{ location.id }}" aria-expanded="false" aria-controls="collapse-{{ location.id }}">
                            <h4>{{ location.name }}</h4><i class="fas fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
