{% extends "/admin/base.html.twig" %}

{% block title %}{{ 'app.ui.users'|trans }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="row wrapper page-heading">
            <div class="col-sm-6">
                <h1>{{ 'app.ui.users'|trans }} <small>{% trans with {'%total%': total|default('0')} %}app.ui.total_of_users_%total%{% endtrans %}</small></h1>
            </div>
            <div class="col-sm-6">
                <div class="title-action">
                    <a href="{{ path('users_new') }}" class="btn btn-primary btn-lg btn-standard-width">
                        <i class="fa fa-plus-circle pull-left"></i>
                        &nbsp;
                        {{'app.ui.new_user'|trans}}
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content no-padding users-filters">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                                <div class="search-box search-box-fullwidth" style="width: 100%;">
                                    <input type="search" name="filter" class="search-box-input form-control" maxlength="50" placeholder="{{ 'app.ui.users_search_label'|trans }}" value="{{ app.request.get('filter')|default('') }}">
                                </div>
                            </div>
                            <div class="col-12 col-sm-5 col-md-5 col-lg-3 search-box">
                                <select class="search-box-input role-filter form-control">
                                    <option value="">{{ 'app.ui.users_filter_by_role'|trans }}</option>
                                    <option value="{{ constant('App\\Entity\\User\\AdminUser::ROLE_ADMIN') }}" {% if constant('App\\Entity\\User\\AdminUser::ROLE_ADMIN') == app.request.get('role') %}selected{% endif %}>{{ 'app.ui.roles.role_admin'|trans }}</option>
                                    <option value="{{ constant('App\\Entity\\User\\AdminUser::ROLE_EDITOR') }}" {% if constant('App\\Entity\\User\\AdminUser::ROLE_EDITOR') == app.request.get('role') %}selected{% endif %}>{{ 'app.ui.roles.role_editor'|trans }}</option>

                                </select>
                            </div>
                            <div class="col-5 col-sm-3 col-md-3 col-lg-2 search-box text-right">
                                <label for="order-by-control">{{ 'app.ui.filter_order_by'|trans }}</label>
                            </div>
                            <div class="col-7 col-sm-4 col-md-4 col-lg-2 search-box order-by-control">
                                <select id="order-by-control" class="search-box-input order-filter form-control">
                                    <option value="{{ constant('App\\Controller\\Admin\\UserController::ORDER_ABC') }}" {% if constant('App\\Controller\\Admin\\RatingController::ORDER_ASC')  == app.request.get('order') %}selected{% endif %}>{{ 'app.ui.users_sort_asc'|trans }}</option>
                                    <option value="{{ constant('App\\Controller\\Admin\\UserController::ORDER_RECENT') }}" {% if constant('App\\Controller\\Admin\\RatingController::ORDER_RECENT')  == app.request.get('order') %}selected{% endif %}>{{ 'app.ui.users_sort_recent'|trans }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="table-responsive-sm">
                            <table id="faq-table" class="table top-products-table">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>{{ 'app.ui.first_name'|trans }}</th>
                                    <th>{{ 'app.ui.last_name'|trans }}</th>
                                    <th>{{ 'app.ui.email'|trans }}</th>
                                    <th>{{ 'app.ui.role'|trans }}</th>
                                    <th class="actions-header">{{ 'app.ui.actions'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for key, user in pagination %}
                                    <tr>
                                        <td>{{ key + 1 }}</td>
                                        <td>
                                            <h4>{{ user.firstName }}</h4>
                                        </td>
                                        <td>{{ user.lastName }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.roles|translated_roles }}</td>
                                        <td>
                                            <a href="{{ path('users_show', {id: user.id}) }}" class="btn btn-default btn-action-button">
                                                {{ 'app.ui.view'|trans }}
                                            </a>
                                            &nbsp;
                                            <a href="{{ path('users_delete', {id: user.id}) }}" class="btn btn-danger btn-action-button btn-delete" data-error-message="{{ 'app.ui.user_error_on_remove_message'|trans }}" data-title="{{ 'app.ui.user_remove_title'|trans }}" data-text="{{ 'app.ui.user_remove_text'|trans({'%name%': user.fullName}) }}">
                                                {{ 'app.ui.delete'|trans }}
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            {{ 'app.ui.users_no_results_found'|trans }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <style>
        .yellow{color:#fdd039}
    </style>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function() {
    var $wrapper = $('#wrapper');
    var $btnComment = $wrapper.find('.btn-comment');
    var $searchBox = $wrapper.find('.search-box .search-box-input');
    var $roleFilter = $wrapper.find('.search-box .role-filter');
    var $orderFilter = $wrapper.find('.search-box .order-filter');

    $btnComment.on('click', function(e) {
        e.preventDefault();
        var comment = $(this).data('comment');

        swal({
            "title":  "{{ 'app.ui.comment'|trans }}",
            "text": comment,
            "type": "",
            "showCancelButton": true,
            "showConfirmButton": false,
        });
    });

    function filter() {
        var searchText = $searchBox.val();
        var role = $roleFilter.val();
        var order = $orderFilter.val();

        window.location = Routing.generate('users_index', {
            filter: searchText,
            role: role,
            order: order
        });
    }

    $searchBox.on('keypress', function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);

        if (keycode === '13') {
            filter();
        }
    });

    $searchBox.on('change', function() {
        filter();
    });

    $roleFilter.on('change', function() {
        filter();
    });

    $orderFilter.on('change', function() {
        filter();
    });
});
</script>
{% endblock %}
