<div class="owl-carousel taxons-carousel owl-theme mb-4">
    {% for category in categories %}
        <div class="item {% if category.code == 'pro' %}current{% endif %} {% if from == 'favorites' and category.code == 'pro' %}all{% else %}{{ category.code }}{% endif %}" data-taxon="{% if from == 'favorites' and category.code == 'pro' %}all{% else %}{{ category.code }}{% endif %}">
            <a class="{{ about_store('theme') }}" style="background: {% if about_store('theme') == 'dark' %} linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('{{ category.images.first.path|imagine_filter('sylius_small') }}') {% else %} url('{{ category.images.first.path|imagine_filter('sylius_small') }}') {% endif %}">
                <p>{% if from == 'favorites' and category.code == 'pro' %}{{ 'app.ui.favorites.all'|trans }}{% else %}{{ category.name }}{% endif %}</p>
            </a>
            <style>
                .taxons-carousel .item.current.{% if from == 'favorites' and category.code == 'pro' %}all{% else %}{{ category.code }}{% endif %} a {
                    background: linear-gradient(rgba(171, 22, 43, .7), rgba(171, 22, 43, .7)), url('{{ category.images[0].path|imagine_filter('sylius_small') }}') !important;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                }
            </style>
        </div>
    {% endfor %}
</div>
