{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="row">
    <div class="col-12">
        <div class="row products">
            {% for product in products %}
                {% set available = true %}

                {% if product.variants.first.onHand < 1 %}
                    {% set available = false %}
                {% endif %}

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 {{ product.code }} mb-4 {% if not available %}sold-out{% endif %}">
                    <div class="custom-overlay-container {% if not available %}show sold-out{% endif %}">
                        <div class="bg-white">
                            <div class="image">
                                <a class="d-block" {% if available %}href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"{% endif %} style="background: url('{{ product.images.first.path|imagine_filter('sylius_shop_product_thumbnail') }}')">
                                    <img src="{{ product.images.first.path|imagine_filter('sylius_shop_product_thumbnail') }}" alt="{{ product.name }}" title="{{ product.name }}" width="auto" height="auto">
                                </a>
                                <span class="{% if available %}xpress-button{% else %}xpress-button-disabled{% endif %}">{{ 'app.ui.express_buy'|trans }}</span>
                            </div>
                            <div class="content">
                                <a {% if available %}href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"{% endif %}>
                                    <p>{{ product.name }}</p>
                                </a>
                                {% if not product.variants.empty() %}
                                    <div class="price {% if getPrice(product)['isOffer'] %}offer{% endif %}">
                                        {% if getPrice(product)['isOffer'] %}
                                            <span class="original">{{ money.convertAndFormat(product.variants.first.channelPricings.first.originalPrice) }}</span>
                                            {{ 'app.ui.produc.%price%_peer_pound'|trans({'%price%': '<span class="offer">' ~ money.calculatePrice(product|sylius_resolve_variant) ~ '</span>'})|raw }}
                                        {% else %}
                                            {{ 'app.ui.produc.%price%_peer_pound'|trans({'%price%': '<span>' ~ money.calculatePrice(product|sylius_resolve_variant) ~ '</span>'})|raw }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if available %}
                                <div class="text-right mt-4">
                                    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="btn-rounded"><img class="cart icon" src="{{ asset('bundles/syliusshop/img/icons/cart.svg') }}" title="{{ 'app.ui.cart.icon'|trans }}" alt="{{ 'app.ui.cart.icon'|trans }}"> {{ 'sylius.ui.add_to_cart'|trans }}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="custom-overlay">
                            <div>
                                {% if available %}
                                <button type="button" class="close">
                                    <img src="{{ asset('bundles/syliusshop/img/icons/close-red.svg') }}" alt="{{ 'app.ui.close'|trans }}" title="{{ 'app.ui.close'|trans }}" width="auto" height="auto">
                                </button>

                                {{ render(url('sylius_shop_partial_cart_add_item', {'template': '@SyliusShop/Product/Show/_addToCart.html.twig', 'productId': product.id})) }}
                                {% else %}
                                    <h3>{{ 'app.ui.sold_out'|trans }}</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
