{% if about_store('show-search') %}
    <div class="col-12 mb-4">
        <form id="search" class="search-box form d-flex flex-wrap" role="search" method="get" action="{{ path('store_search') }}">
            <label>
                <img src="https://meathouse-assets-prod.s3.amazonaws.com/assets/img/icons/search.svg" title="{{ 'app.ui.search'|trans }}" alt="{{ 'app.ui.search'|trans }}" width="auto" height="auto">
                <input type="search" id="site-search" name="search" placeholder="{{ 'app.ui.search.placeholder'|trans }}" value="{{ search }}" autocomplete="off">
            </label>
            <button class="btn-rounded pl-5 pr-5 mt-0 d-none d-sm-none d-md-block">{{ 'app.ui.search'|trans }}</button>
        </form>
    </div>
{% endif %}
