<div id="sylius-shipping-address">
{#    {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}#}
    {% include '@SyliusShop/Common/Form/_address.html.twig' with {'form': form.shippingAddress, 'order': order} %}

    <a id="show-scheduled" class="mt-3 mb-3" {% if order.scheduledDeliveryDate %}style="display: none"{% endif %}>{{ 'app.ui.checkout.order.schedule'|trans }}</a>
    <div class="scheduled-date mb-3" {% if not order.scheduledDeliveryDate %}style="display: none"{% endif %}>
        <button type="button" class="close-btn">
            <img src="{{ asset('bundles/syliusshop/img/icons/close-red.svg') }}" title="{{ 'app.ui.close'|trans }}" alt="{{ 'app.ui.close'|trans }}" width="auto" height="auto">
        </button>
        {{ form_row(form.scheduledDate) }}
    </div>

    {{ form_row(form.preferredTime) }}

    <p id="estimated" class="mh-color" style="display: none">{{ 'app.ui.checkout.order.estimated_%date%'|trans({'%date%': 'now'|date('d/m/y')}) }}</p>

    {{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
</div>

<div class="d-none">
    {{ form_row(form.differentBillingAddress, {'attr': {'data-toggles': 'sylius-billing-address'}}) }}
    {{ form_row(form.billingAddress.fullAddress, {'value': order.billingAddress.fullAddress|default('-')}) }}
    {{ form_row(form.billingAddress.annotations, {'value': order.billingAddress.annotations|default('-')}) }}
    {{ form_row(form.billingAddress.phoneNumber, {'value': order.billingAddress.phoneNumber|default('-')}) }}
    {{ form_row(form.billingAddress.taxId, {'value': order.billingAddress.taxId|default('')}) }}
</div>
