{% extends '@SyliusShop/layout.html.twig' %}

{% block extracontent %}
    <div class="row product pt-5">
        {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
        <div class="col-12">
            <div class="row information">
                <div class="col-7">
                    {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}
                    {% include '@SyliusShop/Product/Show/_images.html.twig' %}
                    {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
                </div>
                <div class="col-5">
                    {% include '@SyliusShop/Product/Show/_header.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

                    <div class="price">
                        {% if not product.variants.empty() %}
                            {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                        {% endif %}
                    </div>

                    {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

                    <div class="desc">
                        {% if product.description is not empty %}
                            {{ product.description | nl2br }}
                        {% else %}
                            {{ 'sylius.ui.no_description'|trans }}.
                        {% endif %}
                    </div>

                    {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}

                    {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                        {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
                    {% endif %}
                    {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.product.show.after_add_to_cart', {'product': product}) }}
                </div>
            </div>
            <div class="row">
                {% include '@SyliusShop/Product/Show/_associations.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    lightbox.option({
        'albumLabel': '{{ 'sylius.lightbox.image_album_label'|trans|escape('js') }}'
    });

    $(document).ready(function () {
        jQuery('<div class="quantity-button quantity-down">-</div>').insertBefore('.quantity input');
        jQuery('<div class="quantity-button quantity-up">+</div>').insertAfter('.quantity input');
        jQuery('.quantity').each(function() {
            var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function() {
                var oldValue = parseFloat(input.val());

                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }

                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function() {
                var oldValue = parseFloat(input.val());

                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }

                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });
        });

       $('.products-carousel').owlCarousel({
            loop: false,
            margin: 25,
            nav: true,
            dots: false,
            items: 5,
            autoWidth: false,
            responsiveClass:true,
            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
            responsive:{
                0:{
                    items: 2
                },
                576:{
                    items: 2
                },
                768:{
                    items: 3
                },
                992:{
                    items: 4
                },
                1200:{
                    items: 4
                }
            }
        });

       $('.xpress-button').click(function () {
           let $div = $(this).closest('div.custom-overlay-container');
           $div.find('div.custom-overlay').attr('style', 'display: block;');

           setTimeout(function () {
               $div.addClass('show');
           }, 150);
       });

       $('button.close').click(function () {
           let $div = $(this).closest('div.custom-overlay-container');
           $div.removeClass('show');

           setTimeout(function () {
               $div.find('div.custom-overlay').attr('style', 'display: none;');
           }, 150);
       });
    });
</script>
{% endblock %}
