{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set product = item.product %}
{% set product_variant = item.variant %}
{% set available = true %}

{% if product.variants.first.onHand < 1 %}
    {% set available = false %}
{% endif %}

<div class="col-12 product-item favorite-item view {{ get_principal_taxon(product.mainTaxon).code }} product-{{ product.id }} {{ product.name|lower|replace({' ': '-'}) }}">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-6">
            <div class="row prt-{{ product.id }}">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 md-pb-1 xss-d-none">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-12 image-container">
                            <a class="d-block image {% if not available %}sold-out{% endif %}" {% if available %}href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"{% endif %} style="background: url('{{ product.images.first.path|imagine_filter('sylius_shop_product_thumbnail') }}')">
                                <img src="{{ product.images.first.path|imagine_filter('sylius_shop_product_thumbnail') }}" alt="{{ product.name }}" title="{{ product.name }}" width="auto" height="auto">
                                {% if not available %}
                                    <div class="sold-out">{{ 'app.ui.sold_out'|trans }}</div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-12 delete-content d-none d-sm-flex d-md-none">
                            <a class="delete hvr-icon-buzz-out" data-id="{{ product.id }}" data-item="{{ item.id }}"><span>{{ 'app.ui.cart.delete'|trans|raw }}</span> <img class="hvr-icon" src="https://meathouse-assets.s3.us-east-1.amazonaws.com/assets/img/icons/trash.svg" alt="{{ 'app.ui.favorites.delete'|trans }}" title="{{ 'app.ui.favorites.delete'|trans }}" width="auto" height="auto"></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                    <a class="name" {% if available %}href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"{% endif %}><p class="product-name">{{ product.name }}</p></a>
                    <div class="price xs-pt-1">
                        {{ 'app.ui.produc.%price%_peer_%measure%'|trans({'%price%': '<span>' ~ money.calculatePrice(product|sylius_resolve_variant) ~ '</span>', '%measure%': ('app.ui.measurement_units.' ~ product.measurementUnit ~ '.lower')|trans})|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-6 xs-pt-0 sm-pt-1">
            <div class="form ui row p-info" id="price" data-price="{{ money.calculatePrice(product|sylius_resolve_variant) }}">
                <div class="required field col-12 col-sm-12 col-md-5 col-lg-6 {% if not available %}invisible{% endif %}">
                    {{ form_label(form.quantity) }}
                    {{ form_errors(form.quantity) }}
                    <div>
                        <div class="quantity">
                            {{ form_widget(form.quantity, {'attr': {'form': main_form}}) }}
                        </div>
                        <p class="type">{{ ('app.ui.measurement_units.' ~ product.measurementUnit ~ '.plural')|trans }}</p>
                    </div>
                </div>

                <div class="sub-total-container col-12 col-sm-12 col-md-3 col-lg-3">
                    <span class="delete-content">
                        <a class="delete hvr-icon-buzz-out d-inline-block d-sm-none" data-id="{{ product.id }}" data-item="{{ item.id }}"><span>{{ 'app.ui.cart.delete'|trans|raw }}</span> <img class="hvr-icon" src="https://meathouse-assets.s3.us-east-1.amazonaws.com/assets/img/icons/trash.svg" alt="{{ 'app.ui.favorites.delete'|trans }}" title="{{ 'app.ui.favorites.delete'|trans }}" width="auto" height="auto"></a>
                    </span>
                    <p class="sub-total-title">{{ 'app.ui.sub_total'|trans }}</p>
                    <p class="sub-total" data-value="0" data-currency="">{{ money.convertAndFormat(item.unitPrice * item.quantity) }}</p>
                </div>
                <div class="delete delete-content d-none d-sm-none d-md-flex d-lg-flex col-12 col-sm-12 col-md-4 col-lg-3">
                    <form id="delete-{{ item.id }}" class="delete-product d-none" data-id="{{ product.id }}" action="{{ path('sylius_shop_cart_item_remove', {'id': item.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token(item.id) }}" />
                    </form>
                    <a class="delete hvr-icon-buzz-out" data-id="{{ product.id }}" data-item="{{ item.id }}"><span>{{ 'app.ui.cart.delete'|trans|raw }}</span> <img class="hvr-icon" src="https://meathouse-assets.s3.us-east-1.amazonaws.com/assets/img/icons/trash.svg" alt="{{ 'app.ui.favorites.delete'|trans }}" title="{{ 'app.ui.favorites.delete'|trans }}" width="auto" height="auto"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider product-{{ product.id }} {{ get_principal_taxon(product.mainTaxon).code }} {{ product.name|lower|replace({' ': '-'}) }}"></div>
