{% extends "/admin/base.html.twig" %}

{% block title %}{{ 'app.ui.category_color'|trans }}{% endblock %}

{% block styles %}
    <style>
        h4 {
            color: #404040 !important;
            font-weight: 600;
        }
        .theme-wrapper {
            height: 290px;
            width: 376px;
            border-radius: 28px;
            background-color: #FFFFFF;
            box-shadow: 0 2px 7px 0 rgba(145,113,113,0.35);
            margin-right: 30px;
            max-width: 100%;
        }

        .theme-wrapper label.radio {
            float: right;
            margin-right: 45px;
            margin-top: 20px;
            position: relative;
        }

        .theme-title {
            color: #404040;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 29px;
            margin-top: 55px;
            margin-left: 34px;
        }

        .theme-subtitle {
            height: 22px;
            width: 248px;
            color: #404040;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 21px;
            margin-left: 50px;
            margin-top: 10px;
        }

        .theme-img {
            height: 87px;
            width: 274px;
            border-radius: 5px;
            max-width: 100%;
        }

        .theme-img {
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }

        .img-wrapper {
            position: relative;
            margin-left: 52px;
            margin-top: 10px;
            margin-right: 52px;
        }

        .dark-theme .sample-text {
            color: #FFFFFF;
        }

        .light-theme .sample-text {
            color: #404040;
        }

        .sample-text {
            left: 12px;
            top: 3px;
            position: absolute;
            font-weight: 900;
            font-size: 16px;
        }

        @media (max-width: 480px) {
            .theme-title {
                margin-left: 15px;
            }

            .img-wrapper {
                margin-left: 25px;
                margin-right: 25px;
            }

            .theme-subtitle {
                max-width: 100%;
                margin-left: 0;
                text-align: center;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="row wrapper page-heading">
            <div class="col-sm-12">
                <h1>{{ 'app.ui.category_color'|trans }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content padding-55">

                        <div class="row border-bottom padding-bottom-35">
                            <div class="col-lg-12">
                                <p>{{ 'app.ui.category_color_text'|trans }}</p>
                            </div>
                        </div>

                        <div class="row padding-bottom-15 padding-top-15">
                            <div class="theme-wrapper dark-theme mb-5">
                                <label class="radio">
                                    <input type="radio" name="theme-selector" value="{{ constant('App\\Entity\\AboutStore::THEME_DARK') }}" checked class="theme-selector">
                                    <span class="check-mark"></span>
                                </label>

                                <p class="theme-title">
                                    {{ 'app.ui.category_color_dark_theme'|trans }}
                                </p>

                                <div class="img-wrapper">
                                    <p class="sample-text">{{ 'app.ui.category_color_seafood'|trans }}</p>
                                    <div class="theme-img" style="background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url({{ asset('meathouse/img/assets/seafood.png') }})"></div>
                                </div>

                                <p class="theme-subtitle">
                                    {{ 'app.ui.theme_subtitle_text'|trans }}
                                </p>
                            </div>

                            <div class="theme-wrapper light-theme mb-5">
                                <label class="radio">
                                    <input type="radio" name="theme-selector" value="{{ constant('App\\Entity\\AboutStore::THEME_LIGHT') }}" class="theme-selector">
                                    <span class="check-mark"></span>
                                </label>

                                <p class="theme-title">
                                    {{ 'app.ui.category_color_light_theme'|trans }}
                                </p>

                                <div class="img-wrapper">
                                    <p class="sample-text">{{ 'app.ui.category_color_chicken'|trans }}</p>
                                    <div class="theme-img" style="background: url({{ asset('meathouse/img/assets/chicken.png') }})"></div>
                                </div>

                                <p class="theme-subtitle">
                                    {{ 'app.ui.theme_subtitle_text'|trans }}
                                </p>
                            </div>
                        </div>

                        <div class="row padding-top-35 padding-bottom-35">
                            <div class="col-lg-12">
                                <h4>{{ 'app.ui.category_color_not_sure_title'|trans }}</h4>
                                <p>{{ 'app.ui.category_color_not_sure_text'|trans }}</p>
                            </div>

                            <div class="col-lg-6 margin-top-25">
                                <div class="custom-file">
                                    <input type="file" id="image-picker" accept="image/x-png,image/jpeg" placeholder="{{ 'app.ui.choose_file'|trans }}" class="custom-file-input" />
                                    <label for="image-picker"  class="custom-file-label">{{ 'app.ui.choose_file'|trans }}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script>
  $(document).ready(function() {
      var $wrapper = $('#wrapper');
      var $imagePicker = $wrapper.find('#image-picker');

      $imagePicker.on('change', function() {
          var $input = $(this)[0];
          readURL($input);
      });

      function readURL(input) {
          var url = input.value;
          var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
          if (input.files && input.files[0]&& (ext === "png" || ext === "jpeg" || ext === "jpg")) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  $('.dark-theme .theme-img').css('background', 'linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(' + e.target.result + ')');
                  $('.light-theme .theme-img').css('background', 'url(' + e.target.result + ')');
              };

              reader.readAsDataURL(input.files[0]);
          } else{
               $('#img').attr('src', '/assets/no_preview.png');
          }
        }
  });
  </script>
{% endblock %}
