{% extends "/admin/base.html.twig" %}

{% block title %}{{ 'app.ui.purchase_settings'|trans }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="row wrapper page-heading">
            <div class="col-sm-4">
                <h1>{{ 'app.ui.purchase_settings'|trans }}</h1>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    <a href="{{ path('purchase_settings_edit') }}" class="btn btn-primary btn-lg btn-standard-width">
                        {{'app.ui.purchase_settings_edit'|trans}}
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content padding-55">
                        <div class="show-container">
                            <div class="row border-bottom padding-bottom-35">
                                <div class="col-lg-12">
                                    <h3>{{ 'app.ui.purchase_settings_max_purchase'|trans }}</h3>
                                    {% if settings.maximumPurchaseValue %}
                                        {{ settings.maximumPurchaseValue|number_format_currency(currency.code) }}
                                    {% else %}
                                        {{ 'app.ui.n/a'|trans }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row border-bottom padding-bottom-35 padding-top-35">
                                <div class="col-lg-12">
                                    <h3>{{ 'app.ui.purchase_settings_min_purchase'|trans }}</h3>
                                    {% if settings.minimumPurchaseValue %}
                                        {{ settings.minimumPurchaseValue|number_format_currency(currency.code) }}
                                    {% else %}
                                        {{ 'app.ui.n/a'|trans }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row border-bottom padding-bottom-35 padding-top-35">
                                <div class="col-lg-12">
                                    <h3>{{ 'app.ui.purchase_settings_days_to_choose_in_advance_to_purchase'|trans }}</h3>
                                    {{ settings.daysToChooseInAdvanceToPurchase|default('app.ui.n/a'|trans) }}
                                </div>
                            </div>

                            <div class="row border-bottom padding-bottom-35 padding-top-35">
                                <div class="col-lg-12">
                                    <h3>{{ 'app.ui.purchase_settings_delivery_hours'|trans }}</h3>
                                    {% if settings.deliveryHours %}
                                        {% for schedule in settings.deliveryHours %}
                                            {{ 'app.ui.purchase_settings_schedule_between_shifts'|trans({'%name%': schedule['name'], '%start%': schedule['start'], '%end%': schedule['end']}) }}
                                            {%- if loop.last -%}
                                                .
                                            {%- else -%}
                                                ,
                                            {% endif %}
                                        {% else %}
                                            {{ 'app.ui.purchase_settings_delivery_hours_default_schedule'|trans }}
                                        {% endfor %}
                                    {% else %}
                                        {{ 'app.ui.purchase_settings_delivery_hours_default_schedule'|trans }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    $(document).ready(function () {
    });
</script>
{% endblock %}
