{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block subcontent %}
    {{ sonata_block_render_event('sylius.shop.account.dashboard.after_content_header', {'customer': customer}) }}

    <div class="row profile pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">{{ 'app.ui.profile.hello_%name%'|trans({'%name%': customer.firstName}) }}</h1>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-12 segment">
                            <div class="row">
                                <div class="col-12">
                                    <h2>{{ 'app.ui.your_information'|trans }}</h2>
                                </div>

                                <div class="col-12">
                                    {% if customer.fullName %}
                                        <div class="row mb-2">
                                            <div class="col-4">
                                                <p><strong>{{ 'sylius.form.option.name'|trans }}</strong></p>
                                            </div>
                                            <div class="col-8">
                                                <p>{{ customer.fullName }}</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if customer.birthday %}
                                        <div class="row mb-2">
                                            <div class="col-4">
                                                <p><strong>{{ 'sylius.form.customer.birthday'|trans }}</strong></p>
                                            </div>
                                            <div class="col-8">
                                                <p>{{ customer.birthday|date('d-m-Y') }}</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if customer.gender %}
                                        {% if customer.gender != 'u' %}
                                            <div class="row mb-2">
                                                <div class="col-4">
                                                    <p><strong>{{ 'sylius.form.customer.gender'|trans }}</strong></p>
                                                </div>
                                                <div class="col-8">
                                                    {% set gender = customer.gender == 'f' ? 'app.ui.gender.female'|trans : 'app.ui.gender.male'|trans %}
                                                    <p>{{ gender }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-12 text-center mb-5 mt-5">
                                    {% if customer.addresses|length > 0 %}
                                    {% else %}
                                        <p class="text-center">{{ 'app.ui.profile.add_delivery_information'|trans|raw }}</p>
                                        <a href="{{ path('sylius_shop_account_profile_update') }}" class="btn-rounded inverted d-inline-block">{{ 'app.ui.profile.add'|trans }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 segment">
                            <div class="row">
                                <div class="col-12"><h2>{{ 'app.ui.billing_data'|trans }}</h2></div>
                                <div class="col-12 text-center mt-5 mb-5">
                                    <p class="text-center">{{ 'app.ui.you_dont_have_billing_data'|trans|raw }}</p>
                                    <a href="#" class="btn-rounded inverted d-inline-block">{{ 'app.ui.profile.add'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 segment">
                            <h2>{{ 'app.ui.your_account'|trans }}</h2>

                            <div class="row mb-4">
                                <div class="col-4">
                                    <p><strong>{{ 'app.ui.login.email'|trans }}</strong></p>
                                </div>
                                <div class="col-8">
                                    <p>{{ customer.email }}</p>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="#" class="btn-rounded inverted d-inline-block">{{ 'app.ui.profile.change_email'|trans }}</a>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <p><strong>{{ 'app.ui.login.password'|trans }}</strong></p>
                                </div>
                                <div class="col-8">
                                    <p>..........</p>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="{{ path('sylius_shop_account_change_password') }}" class="btn-rounded inverted d-inline-block">{{ 'sylius.ui.change_password'|trans }}</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 text-center">
                                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn-login-with d-inline-block facebook">
                                        <i class="fab fa-facebook-square"></i>
                                        {{ 'app.ui.connect_with_%name%'|trans({'%name%':'Facebook'}) }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-5 col-lg-5 r-pr-15 pr-0">
                    <div class="row">
                        <div class="segment ml-3 r-ml-0 w-100">
                            <div class="row">
                                <div class="col-12"><h2>{{ 'app.ui.my_favorites'|trans }}</h2></div>
                                <div class="col-12 text-center mt-5 mb-5">
                                    <p class="text-center">{{ 'app.ui.you_dont_have_favorites'|trans|raw }}</p>
                                    <a href="#" class="btn-rounded d-inline-block">{{ 'app.ui.to_catalog'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('sylius.shop.account.dashboard.after_information', {'customer': customer}) }}
{% endblock %}
