{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div class="row forgot-password pt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{{ path('sylius_shop_login') }}"><i class="fas fa-chevron-left"></i> {{ 'sylius.ui.back'|trans }}</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 segment">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="text-center">{{ 'sylius.ui.reset_password'|trans }}</h1>
                    <p class="text-center">{{ 'app.ui.enter_email_to_reset_password'|trans }}</p>

                    {{ sonata_block_render_event('sylius.shop.request_password_reset_token.after_content_header') }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'class': 'ui large loadable form margin-0-auto', 'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.email) }}

                    {{ sonata_block_render_event('sylius.shop.request_password_reset_token.form', {'form': form}) }}

                    {{ form_row(form._token) }}
                    <button type="submit" class="btn-rounded">{{ 'app.ui.send_instructions'|trans }}</button>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
