{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if last_error is defined %}
    {% if last_error %}
        {{ messages.error(last_error.messageKey|trans(last_error.messageData, 'security')) }}
    {% endif %}
{% endif %}

{{ form_row(form._username) }}

<div class="required field">
    {{ form_label(form._password) }}
    <div class="div-input">
        {{ form_widget(form._password) }}
        <span class="eye"><i class="fas fa-eye fa-2x"></i></span>
    </div>
    {{ form_errors(form._password) }}
</div>

{#{{ form_row(form._password) }}#}
{#{{ form_row(form._remember_me) }}#}
