<div id="banners-carousel" class="carousel slide carousel-fade w-100 mb-4" data-ride="carousel">
    <ol class="carousel-indicators mb-5">
        {% set i = 0 %}
        {% for banner in banners %}
            <li data-target="#banners-carousel" data-slide-to="{{ i }}" class="{% if i == 0 %}active{% endif %}"></li>
            {% set i = i+1 %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% set i = 0 %}
        {% for banner in banners %}
            <div class="carousel-item {% if i == 0 %}active{% endif %}">
                {% if banner.productVariant %}
                    {% set product = banner.productVariant.product %}
                    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
                {% endif %}
                <img src="{{ uploaded_banner_asset(banner.photoWeb) }}" class="d-none d-lg-block w-100" alt="{{ banner.name }} web" title="{{ banner.name }} web" width="auto" height="auto" onerror="this.src='https://meathouse-assets-prod.s3.amazonaws.com/assets/img/error/web.png';">
                <img src="{{ uploaded_banner_asset(banner.photoTablet) }}" class="d-none d-sm-block d-lg-none w-100" alt="{{ banner.name }} tablet" title="{{ banner.name }} tablet" width="auto" height="auto" onerror="this.src='https://meathouse-assets-prod.s3.amazonaws.com/assets/img/error/tablet.png';">
                <img src="{{ uploaded_banner_asset(banner.photoMobile) }}" class="d-block d-sm-none w-100" alt="{{ banner.name }} mobile" title="{{ banner.name }} mobile" width="auto" height="auto" onerror="this.src='https://meathouse-assets-prod.s3.amazonaws.com/assets/img/error/mobile.png';">
                {% if banner.productVariant %}
                    </a>
                {% endif %}
            </div>
            {% set i = i+1 %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#banners-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#banners-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
