{% macro back(link, text = 'app.ui.back') %}
    <a href="{{ link }}" class="btn-back-button">
        <i class="fa fa-chevron-left fa-back-button"></i>
        <span>{{ text|trans }}</span>
    </a>
{% endmacro %}

{% macro modalBack(id, text = 'app.ui.back') %}
    <a data-toggle="modal" data-target="#{{ id }}" class="btn-back-button">
        <i class="fa fa-chevron-left fa-back-button"></i>
        <span>{{ text|trans }}</span>
    </a>
{% endmacro %}

{% macro row(items) %}
    <div class="row">
        {% for item in items %}
        <div class="col-lg-{{ item.span }}">
            {{ form_row(item.field) }}
        </div>
        {% endfor %}
    </div>
{% endmacro %}
