<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - {{ app_name }}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('meathouse/img/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('meathouse/img/favicon-16x16.png')}}">

    <link href="{{asset('meathouse/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('meathouse/font-awesome/css/all.css')}}" rel="stylesheet">
    <link href="{{asset('meathouse/font-awesome/css/v4-shims.min.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('meathouse/css/plugins/datapicker/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ asset('meathouse/js/plugins/datapicker/bootstrap-datepicker.js') }}">

    <link href="{{asset('meathouse/css/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('meathouse/css/style.css')}}" rel="stylesheet">

    {% block styles %}
    {% endblock %}
    <style>
        body {
            background-color: #404040;
        }

        .pace .pace-progress {
            background: #AB162B;
        }

        #main-logo {
            width: 140px;
            text-align: center;
        }

        .nav-header {
            background-image: none;
            background-color: #404040;
        }

        .nav > li.active {
            background: #69595C;
            border-left: none;
        }

        .navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus {
            background-color: #69595C;
        }

        .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
            background-color: #404040;
            color: white;
        }

        body.mini-navbar .nav-header {
            background-color: #404040;
            padding: 15px 0;
        }

        body.mini-navbar #main-logo {
            width: 50px;
        }

        .btn-primary {
            color: #fff;
            background-color: #AB162B;
            border-color: #B03143;
            border-radius: 25px;
            height: 48px;
            padding-top: 14px;
        }

        .btn-primary:hover, .btn-primary:visited, .btn-primary:active, .btn-primary:focus {
            color: #fff;
            background-color: #AB162B;
            border-color: #B03143;
        }

        .text-primary {
            color: #AB162B !important;
        }

        .nav > li > a i.fa {
            font-size: 25px;
        }

        .wrapper-content h1 {
            color: #AB162B;
        }

        .rating-stars {
            font-size: 40px;
            float: right;
        }

        .rating-stars .yellow {
            color: #FDD039;
        }

        .rating-title {
            float: left;
            margin-top: 18px !important;
        }

        table.top-products-table thead th {
            font-weight: bold;
            color: #AB162B;
            background-color: #FAF5F6;
            height: 41px;
        }

        table.top-products-table tbody td {
            height: 77px;
            padding-top: 30px;
        }

        .filter-ibox .form-control {
            border-radius: 25px;
            height: 48px;
            color: #917171;
            background-color: #FAF5F6;
        }

        .filter-ibox label {
            font-weight: bold;
            padding-top: 16px;
        }

        .dropdown-toggle::after {
            display: none;
        }

        ul.nav-second-level {
            background: #565656;
        }

        .mini-navbar .nav .nav-second-level {
            background-color: #565656;
        }

        h1 small {
            color: #404040;
            font-size: 14px;
            margin-left: 10px;
        }

        .btn-standard-width {
            width: 250px;
        }

        .btn-standard-width i.fa {
            float: left;
            margin-top: 1px;
            font-size: 17px;
        }

        .btn-action-button {
            width: 80px;
            border-radius: 10px;
        }

        .ibox-content .search-box {
            padding: 30px;
            width: 400px;
        }

        .ibox-content .search-box .search-box-input {
            border-radius: 15px;
            height: 41px;
            color: #AB162B;
            background-color: #FAF5F6;
            border-width: 0;
        }

        .btn-default {
            background-color: #EBE7E7;
            color: #404040;
        }

        .btn-danger {
            background-color: #F5B0BD;
            color: #FFFFFF;
            border-color: #F5B0BD;
        }

        .ibox-content .search-box .search-box-input::placeholder {
            color: #AB162B;
        }

        .pagination {
            justify-content: center;
        }

        .page-item.active .page-link {
            background-color: #AB162B;
            border-color: #AB162B;
        }

        .actions-header {
            width: 300px;
        }

        @media (min-width: 768px) {
            .navbar-static-side {
                width: 300px;
            }
        }

        @media (max-width: 812px) {
            .ibox-content .search-box {
                width: 100%;
            }

            .btn-primary {
                width: 100%;
            }

            h1 small {
                display: block;
                margin-left: 2px;
                margin-top: 8px;
            }

            .actions-header {
                width: 100px;
            }
        }
    </style>
</head>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <ul class="nav metismenu">
                <li class="nav-header text-center">
                    <img id="main-logo" src="{{ asset('meathouse/img/logo.png') }}" alt="{{ app_name }}">
                </li>
            </ul>
            {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn" href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <div class="dropdown m-r-sm">
                            <a data-toggle="dropdown" class="dropdown-toggle count-info text-primary" href="#">
                                <span class="block m-t-xs font-bold">Cristina Benito <i class="fa fa-caret-down"></i></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="#">{{ 'app.ui.logout'|trans }}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="{{asset('meathouse/js/jquery-3.1.1.min.js')}}"></script>
<script src="{{ asset('meathouse/js/popper.min.js') }}"></script>
<script src="{{ asset('meathouse/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('meathouse/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('meathouse/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('meathouse/js/inspinia.js') }}"></script>
<script src="{{ asset('meathouse/js/plugins/pace/pace.min.js') }}"></script>

<script src="{{ asset('meathouse/js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>

<!-- FOS JS Routing -->
<script src="/bundles/fosjsrouting/js/router.min.js"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script>
    /**
     * Datepicker JS defaults
     * */
    if ($.fn.datepicker.dates) {
        $.fn.datepicker.dates['{{ app.request.locale  }}'] = {
            days: ["{{ 'app.ui.dates.sunday' | trans }}", "{{ 'app.ui.dates.monday' | trans }}", "{{ 'app.ui.dates.tuesday' | trans }}", "{{ 'app.ui.dates.wednesday' | trans }}", "{{ 'app.ui.dates.thursday' | trans }}", "{{ 'app.ui.dates.friday' | trans }}", "{{ 'app.ui.dates.saturday' | trans }}"],
            daysShort: ["{{ 'app.ui.dates.sun' | trans }}", "{{ 'app.ui.dates.mon' | trans }}", "{{ 'app.ui.dates.tue' | trans }}", "{{ 'app.ui.dates.wed' | trans }}", "{{ 'app.ui.dates.thu' | trans }}", "{{ 'app.ui.dates.fri' | trans }}", "{{ 'app.ui.dates.sat' | trans }}"],
            daysMin: ["{{ 'app.ui.dates.su' | trans }}", "{{ 'app.ui.dates.mo' | trans }}", "{{ 'app.ui.dates.tu' | trans }}", "{{ 'app.ui.dates.we' | trans }}", "{{ 'app.ui.dates.th' | trans }}", "{{ 'app.ui.dates.fr' | trans }}", "{{ 'app.ui.dates.sa' | trans }}"],
            months: ["{{ 'app.ui.dates.january' | trans }}", "{{ 'app.ui.dates.february' | trans }}", "{{ 'app.ui.dates.march' | trans }}", "{{ 'app.ui.dates.april' | trans }}", "{{ 'app.ui.dates.may' | trans }}", "{{ 'app.ui.dates.june' | trans }}", "{{ 'app.ui.dates.july' | trans }}", "{{ 'app.ui.dates.august' | trans }}", "{{ 'app.ui.dates.september' | trans }}", "{{ 'app.ui.dates.october' | trans }}", "{{ 'app.ui.dates.november' | trans }}", "{{ 'app.ui.dates.december' | trans }}"],
            monthsShort: ["{{ 'app.ui.dates.jan' | trans }}", "{{ 'app.ui.dates.feb' | trans }}", "{{ 'app.ui.dates.mar' | trans }}", "{{ 'app.ui.dates.apr' | trans }}", "{{ 'app.ui.dates.may' | trans }}", "{{ 'app.ui.dates.jun' | trans }}", "{{ 'app.ui.dates.jul' | trans }}", "{{ 'app.ui.dates.aug' | trans }}", "{{ 'app.ui.dates.sep' | trans }}", "{{ 'app.ui.dates.oct' | trans }}", "{{ 'app.ui.dates.nov' | trans }}", "{{ 'app.ui.dates.dec' | trans }}"],
            today: "{{ 'app.ui.today' | trans }}",
            clear: "{{ 'app.ui.clear' | trans }}",
            format: "yyyy-mm-dd",
            titleFormat: "MM yyyy",
            weekStart: 0
        };

        $.fn.datepicker.defaults.language = '{{ app.request.locale  }}';
        $.fn.datepicker.defaults.format = 'yyyy-mm-dd';
        $.fn.datepicker.defaults.startView = 1;
        $.fn.datepicker.defaults.todayBtn = "linked";
        $.fn.datepicker.defaults.keyboardNavigation = false;
        $.fn.datepicker.defaults.forceParse = false;
        $.fn.datepicker.defaults.autoclose = true;
        $.fn.datepicker.defaults.todayHighlight = true;
    }
</script>

<script>
    $(document).ready(function () {
        var $sideMenu = $('#side-menu');
        var $activeList = $sideMenu.find('li.active');
        var $parent = $activeList.closest('li.dropdown');

        if ($parent.length) {
            // keep dropdown open
            $parent.addClass('active');
            var $ul = $parent.find('ul.nav');
            var $a = $parent.find('[aria-expanded=false]');

            $a.attr('aria-expanded', 'true');
            $ul.attr('aria-expanded', 'true');
            $ul.addClass('in');
        }
    });
</script>
{% block javascript %}
{% endblock %}

</body>

</html>
