<a class="navbar-brand" href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('bundles/syliusshop/img/logo.png') }}" alt="{{ sylius.channel.name }} logo" title="{{ sylius.channel.name }} logo" class="ui small image" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="#" class="nav-link">{{ 'sylius.ui.wholesalers'|trans }}</a>
        </li>

        {% if is_granted('ROLE_USER') %}
            <div class="item">{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>

            <li class="nav-item">
                <a href="{{ path('sylius_shop_account_dashboard') }}" class="nav-link">{{ 'sylius.ui.my_account'|trans }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('sylius_shop_logout') }}" class="nav-link sylius-logout-button">{{ 'sylius.ui.logout'|trans }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{{ path('sylius_shop_login') }}" class="nav-link">{{ 'sylius.ui.login'|trans }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('sylius_shop_register') }}" class="nav-link">{{ 'sylius.ui.register'|trans }}</a>
            </li>
        {% endif %}
    </ul>
</div>
