{% extends '@SyliusShop/layout.html.twig' %}

{% block extracontent %}
    <div class="row product pt-5">
        {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
        <div class="col-12">
            <div class="row information">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 xs-pl-0 xs-pr-0">
                    {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}
                    {% include '@SyliusShop/Product/Show/_images.html.twig' %}
                    {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 md-pt-2">
                    {% include '@SyliusShop/Product/Show/_header.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

                    <div class="price">
                        {% if not product.variants.empty() %}
                            {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                        {% endif %}
                    </div>

                    {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

                    <div class="desc">
                        {% if product.description is not empty %}
                            {{ product.description | nl2br }}
                        {% else %}
                            {{ 'sylius.ui.no_description'|trans }}.
                        {% endif %}
                    </div>

                    {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}

                    {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                        {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
                    {% endif %}
                    {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.product.show.after_add_to_cart', {'product': product}) }}
                </div>
            </div>
            <div class="row">
                {% include '@SyliusShop/Product/Show/_associations.html.twig' %}
            </div>
        </div>
    </div>
    <div class="modal smaller fade" id="showMessage" tabindex="-1" role="dialog" aria-labelledby="showMessageLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="showMessageLabel"></h5>
                </div>
                <div class="modal-body text-center"></div>
                <div class="modal-footer text-center">
                    <button id="cleanForm" type="button" class="btn-rounded" data-dismiss="modal">{{ 'app.ui.accept.short'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none">
        <button id="triggerModal" type="button" data-toggle="modal" data-target="#showMessage"></button>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    lightbox.option({
        'albumLabel': '{{ 'sylius.lightbox.image_album_label'|trans|escape('js') }}'
    });

    $(document).ready(function () {
        let $modal = $('#showMessage');

       $('.products-carousel').owlCarousel({
            loop: false,
            margin: 25,
            nav: true,
            dots: false,
            items: 5,
            autoWidth: false,
            responsiveClass:true,
            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
            responsive:{
                0:{
                    items: 1,
                    nav: false,
                    autoWidth: true
                },
                576:{
                    items: 2
                },
                768:{
                    items: 3
                },
                992:{
                    items: 4
                },
                1200:{
                    items: 4
                }
            }
        });

       $('.xpress-button').click(function () {
           let $div = $(this).closest('div.custom-overlay-container');
           $div.find('div.custom-overlay').attr('style', 'display: block;');

           setTimeout(function () {
               $div.addClass('show');
           }, 150);
       });

       $('button.close').click(function () {
           let $div = $(this).closest('div.custom-overlay-container');
           $div.removeClass('show');

           setTimeout(function () {
               $div.find('div.custom-overlay').attr('style', 'display: none;');
           }, 150);
       });

       var $navbarPopover = $('.navbar-collapse .favorites a');
       $navbarPopover.attr('data-container', 'body');
       $navbarPopover.attr('data-toggle', 'popover');
       $navbarPopover.attr('data-placement', 'bottom');
       $navbarPopover.attr('data-content', '');

       $('a.add-true').click(function () {
           var $a = $(this);
           var $input = $a.find('input');
           var checked = false;

           if ((Boolean) ($input.attr('checked'))) {
               $input.attr('checked', false);
               checked = true;
           } else {
               checked = $input.prop('checked');
           }

           $.ajax({
               url: checked ? Routing.generate("store_api_favorites_remove", { version: 1}) : Routing.generate("store_api_favorites_add", { version: 1}),
               method: checked ? "DELETE" : "POST",
               data: JSON.stringify({
                   product: $(this).data('id')
               }),
               contentType: "application/json; charset=utf-8",
               dataType: "json",
           })
           .done(function (data) {
               if (checked) {
                   $a.find('span').text('{{ 'app.ui.product.add_to_favorites'|trans }}');
               } else {
                   if (window.innerWidth > 991) {
                       $('#favPopover').popover('enable');
                       $navbarPopover.attr('data-content', '{{ 'app.ui.product.added_to_favorites_%name%'|trans({'%name%': '<span class="mh-color">' ~ product.name ~ '</span>'})|raw }}');
                       $('#favPopover').popover('show');
                       $('.popover-body').html('{{ 'app.ui.product.added_to_favorites_%name%'|trans({'%name%': '<span class="mh-red">' ~ product.name ~ '</span>'})|raw }}');

                       setTimeout(function () {
                           $('#favPopover').popover('hide');
                           $('#favPopover').popover('disable');
                       }, 3000);
                   }

                   $a.find('span').text('{{ 'app.ui.product.favorite'|trans }}');

                   setTimeout(function () {
                       $a.find('span').text("");
                   }, 500);
               }
           })
           .fail(function (error) {
               let recordset = error['responseJSON']['recordset'];
               $modal.find('.modal-title').html(recordset['title']);
               $modal.find('.modal-body').html(recordset['message']);

               if (checked) {
                   $a.find('span').text('{{ 'app.ui.product.favorite'|trans }}');
                   $('.icobutton').attr('style', 'color:#ab162b !important');
                   $input.prop('checked', checked).change();
               } else {
                   $a.find('span').text('{{ 'app.ui.product.add_to_favorites'|trans }}');
                   $('.icobutton').attr('style', 'color:#C0C1C3 !important');
                   $input.prop('checked', checked).change();
               }

               $('#triggerModal').trigger('click');
           });
       });
    });
</script>
{% endblock %}
