{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="add-to-cart" id="sylius-product-selecting-variant">
    {{ sonata_block_render_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}
    {% set available = true %}
    {% set class = 'available' %}

    {% if product.variants.first.onHand < 1 %}
        {% set available = false %}
        {% set class = 'unavailable' %}
    {% endif %}

    {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart-' ~ product.id,
        'class': 'ui loadable form text-center product-buy ' ~ class, 'novalidate': 'novalidate', 'data-id': product.id, 'data-name': product.name,
        'data-img': product.images.first.path|imagine_filter('sylius_shop_product_thumbnail'), 'data-price': money.calculatePrice(product|sylius_resolve_variant), 'data-measure': ('app.ui.measurement_units.' ~ product.measurementUnit)|trans }}) }}
    {{ form_errors(form) }}
    <div class="ui red label bottom pointing hidden sylius-validation-error" id="sylius-cart-validation-error"></div>
    <div class="d-none">
        {% if not product.simple %}
            {% if product.variantSelectionMethodChoice %}
                {% include '@SyliusShop/Product/Show/_variants.html.twig' %}
            {% else %}
                {% include '@SyliusShop/Product/Show/_options.html.twig' %}
            {% endif %}
        {% endif %}
    </div>

    <div class="required field">
        {{ form_label(form.cartItem.quantity) }}
        {{ form_errors(form.cartItem.quantity) }}
        <div class="quantity">
            {{ form_widget(form.cartItem.quantity) }}
        </div>
        <p class="type">{{ ('app.ui.measurement_units.' ~ product.measurementUnit)|trans }}</p>
    </div>

    {{ sonata_block_render_event('sylius.shop.product.show.add_to_cart_form', {'product': product, 'order_item': order_item}) }}

    <div class="extra">
        <button type="submit" class="btn-rounded"><img class="cart icon" src="https://meathouse-assets.s3.us-east-1.amazonaws.com/assets/img/icons/cart.svg"> {{ 'sylius.ui.add_to_cart'|trans }}</button>
        <a {% if not is_granted('ROLE_USER') %}data-toggle="modal" data-target="#createAccount"{% else %}class="add-true" data-id="{{ product.id }}"{% endif %}>
            {% if is_granted('ROLE_USER') %}
                {% set isFavorite = product|is_favorite %}
                {% if isFavorite %}
                    <span></span>
                {% else %}
                    <span>{{ 'app.ui.product.add_to_favorites'|trans }}</span>
                {% endif %}
                <label class="icobutton icobutton--thumbs-up" for="favorite" {% if isFavorite %}style="color: #ab162b !important"{% endif %}>
                    <i class="fas fa-heart"></i>
                    <input type="checkbox" name="favorite" {% if isFavorite %}checked{% endif %}>
                </label>
            {% else %}
                {{ 'app.ui.product.add_to_favorites'|trans }}
                <i class="far fa-heart"></i>
            {% endif %}
        </a>
    </div>

    {% if not is_granted('ROLE_USER') %}
        {% block modals %}
            <div class="modal smaller add-favorites fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="createAccountLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="https://meathouse-assets.s3.us-east-1.amazonaws.com/assets/img/icons/add-to-favorites.png" title="{{ 'app.ui.favorites.empty'|trans }}" alt="{{ 'app.ui.favorites.empty'|trans }}" width="auto" height="auto">
                            <h5 class="modal-title text-center" id="createAccountLabel">{{ 'app.ui.favorites.modal.unlogged.title'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <img src="https://meathouse-assets.s3.us-east-1.amazonaws.com/assets/img/icons/close-red.svg" title="{{ 'app.ui.close'|trans }}" alt="{{ 'app.ui.close'|trans }}" width="auto" height="auto">
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            {{ 'app.ui.favorites.modal.unlogged.message'|trans }}
                        </div>
                        <div class="modal-footer text-center">
                            <a href="{{ path('sylius_shop_register') }}" type="button" class="btn-rounded">{{ 'app.ui.create_an_account'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
