<div class="col-12 col-sm-12 col-md-12 col-lg-12 mh-breadcrumb mb-4 pb-3">
    <a href="{{ path('sylius_shop_homepage') }}"><i class="fas fa-chevron-left"></i> {{ 'app.ui.back_to_home'|trans }}</a>
    <div class="divider"> / </div>
    {% if product.mainTaxon is not null %}
        {% set taxon = product.mainTaxon %}
        {% set ancestors = taxon.ancestors|reverse %}

        {% for ancestor in ancestors %}
            {% if ancestor.isRoot() %}
                <div>{{ ancestor.name }}</div>
            {% else %}
                <a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}">{{ ancestor.name }}</a>
            {% endif %}
            <div class="divider"> / </div>
        {% endfor %}

        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">{{ taxon.name }}</a>
    {% endif %}
</div>
