<footer id="footer" class="bg-white p-0">
    <div class="container">
        {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}
        <div class="row">
            <div class="col-2">
                <a class="logo" href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('bundles/syliusshop/img/logo.png') }}" alt="{{ app_name }} logo" title="{{ sylius.channel.name }} logo" width="auto" height="auto"/></a>
            </div>
            <div class="col-5 links">
                <a href="#" class="d-block">{{ 'sylius.ui.about_procasa'|trans }}</a>
                <a href="#" class="d-block">{{ 'sylius.ui.work_with_us'|trans }}</a>
                <a href="#" class="d-block">{{ 'sylius.ui.faqs'|trans  }}</a>
                <a href="#" class="d-block">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
            </div>
            <div class="col-5 app-btns">
                <p class="text-right">{{ 'sylius.ui.download_app'|trans  }} {{ app_name }}</p>
                <div class="text-right">
                    <a href="#"><img src="{{ asset('bundles/syliusshop/img/app/app_store.png') }}" alt="App Store logo" title="App Store logo" width="auto" height="auto"></a>
                    <a href="#"><img src="{{ asset('bundles/syliusshop/img/app/google_play.png') }}" alt="Google Play logo" title="Google Play logo" width="auto" height="auto"></a>
                </div>
            </div>
        </div>

        {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
    </div>
    <div class="bg-gray bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p>Procasa &copy; 2019</p>
                </div>
                <div class="col-4 d-flex justify-content-between">
                    <a href="#" title="Facebook link"><i class="fab fa-facebook"></i></a>
                    <a href="#" title="Twitter link" class="opposite"><i class="fab fa-twitter"></i></a>
                    <a href="#" title="Instagram link" class="opposite"><i class="fab fa-instagram"></i></a>
                    <a href="#" title="Pinterest link"><i class="fab fa-pinterest"></i></a>
                </div>
                <div class="col-4">
                    <p class="text-right">Powered by MILKnCOOKIES</p>
                </div>
            </div>
        </div>
    </div>
</footer>
