<footer id="footer" class="bg-white p-0">
    <div class="container">
        {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                <a class="logo d-block max-w-mx-content" href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('bundles/syliusshop/img/logo.png') }}" alt="{{ app_name }} logo" title="{{ sylius.channel.name }} logo" width="auto" height="auto"/></a>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 links">
                <a href="{{ path('store_about_us') }}" class="d-block">{{ 'app.ui.frontend.about_procasa'|trans }}</a>
                <a href="{{ path('store_work_with_us') }}" class="d-block">{{ 'app.ui.work_with_us'|trans }}</a>
                <a href="{{ path('store_faqs') }}" class="d-block">{{ 'app.ui.faqs_list'|trans  }}</a>
                <a href="{{ path('store_terms_page') }}" class="d-block">{{ 'app.ui.terms_and_conditions'|trans }}</a>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 app-btns">
                <p class="text-right">{{ 'app.ui.download_app'|trans  }} {{ app_name }}</p>
                <div class="text-right">
                    {% if aboutStore('app-store') %}
                    <a href="{{ aboutStore('app-store') }}"><img src="{{ asset('bundles/syliusshop/img/app/app_store.png') }}" alt="{{ 'app.ui.app_store_logo'|trans }}" title="{{ 'app.ui.app_store_logo'|trans }}" width="auto" height="auto"></a>
                    {% endif %}
                    {% if aboutStore('play-store') %}
                    <a href="{{ aboutStore('play-store') }}"><img src="{{ asset('bundles/syliusshop/img/app/google_play.png') }}" alt="{{ 'app.ui.google_play_logo'|trans }}" title="{{ 'app.ui.google_play_logo'|trans }}" width="auto" height="auto"></a>
                    {% endif %}
                </div>
            </div>
        </div>

        {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
    </div>
    <div class="bg-gray bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                    <p>Procasa &copy; 2019</p>
                </div>
                {% set i = 0 %}
                {% if aboutStore('facebook') %}
                    {% set i = i +1 %}
                {% endif %}
                {% if aboutStore('twitter') %}
                    {% set i = i +1 %}
                {% endif %}
                {% if aboutStore('instagram') %}
                    {% set i = i +1 %}
                {% endif %}
                {% if aboutStore('pinterest') %}
                    {% set i = i +1 %}
                {% endif %}
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-{%  if i >= 4 %}between{% elseif i > 2 %}around{% else %}center{% endif %}">
                    {% if aboutStore('facebook') %}
                    <a href="{{ aboutStore('facebook') }}" title="Facebook link" class="{% if i <= 2 %}mr-4{% endif %}"><i class="fab fa-facebook"></i></a>
                    {% endif %}
                    {% if aboutStore('twitter') %}
                    <a href="{{ aboutStore('twitter') }}" title="Twitter link" class="opposite {% if i <= 2 %}mr-4{% endif %}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if aboutStore('instagram') %}
                    <a href="{{ aboutStore('instagram') }}" title="Instagram link" class="opposite {% if i <= 2 %}mr-4{% endif %}"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if aboutStore('pinterest') %}
                    <a href="{{ aboutStore('pinterest') }}" title="Pinterest link" class="{% if i <= 2 %}mr-4{% endif %}"><i class="fab fa-pinterest"></i></a>
                    {% endif %}
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                    <p class="text-right">{% trans with {"%name%": dev_name } %}app.ui.powered_by_%name% {% endtrans %} </p>
                </div>
                {%  if i >= 3 %}
                <style>
                    @media (max-width: 575px) {
                        #footer .bottom-footer>div>div>div:nth-of-type(2) {
                            justify-content: space-around !important;
                        }
                    }
                </style>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
