<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <link rel="icon" href="{{ asset('bundles/syliusshop/img/favicon.ico') }}" type="image/x-icon" />

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="{{ sylius.channel.description }}"/>

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}

        <style>
            /* Fonts */
            @font-face {
                font-family: "Raleway";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-Regular.ttf') }}");
            }

            @font-face {
                font-family: "Raleway Medium";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-Medium.ttf') }}");
            }

            @font-face {
                font-family: "Raleway Regular";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-Regular.ttf') }}");
            }

            @font-face {
                font-family: "Raleway SemiBold";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-SemiBold.ttf') }}");
            }

            @font-face {
                font-family: "Raleway Bold";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-Bold.ttf') }}");
            }

            @font-face {
                font-family: "Raleway ExtraBold";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-ExtraBold.ttf') }}");
            }

            @font-face {
                font-family: "Raleway Light";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-Light.ttf') }}");
            }

            @font-face {
                font-family: "Raleway Italic";
                src: url("{{ asset('bundles/syliusshop/fonts/raleway/Raleway-Italic.ttf') }}");
            }

            {% if aboutStore('show-search') %}
            .search-box label {
                width: calc(80% + 30px);
            }
            {% endif %}

        </style>

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
        <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/extended-sylius.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/extended-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/styles.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/fontawesome/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/owl-carousel/owl.carousel.min.css') }}">
        {% block extracss %}{% endblock %}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ app.request.locale|slice(0, 2) }}/sdk.js#xfbml=1&version=v6.0"></script>
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}
<div class="pusher">
    {% block top %}
        <div class="top-menu">
{#            <div class="container">#}
                <nav class="navbar navbar-expand-lg navbar-light">
                    {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

                    {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}
                    {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

                    {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
                </nav>
{#            </div>#}
        </div>
    {% endblock %}

    {% block content %}
        <div class="container first">
            {% block header %}{% endblock %}
            {% block flashes %}{% endblock %}

            {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

            {% block extracontent %}
            {% endblock %}

            {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
        </div>
    {% endblock %}

    {% block contentFluid %}
    {% endblock %}

    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</div>

{% block javascripts %}
    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/syliusshop/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/syliusshop/js/app.js') }}"></script>
    <script src="{{ asset('bundles/syliusshop/js/jq-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/syliusshop/js/jq-validation/additional-methods.min.js') }}"></script>
    <script src="{{ asset('bundles/syliusshop/js/owl-carousel/owl.carousel.min.js') }}" defer="defer"></script>
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}

    {% block extrajs %}{% endblock %}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sonata_block_render_event('sylius.shop.layout.after_body') }}
</body>
</html>
