{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    {{ sonata_block_render_event('sylius.shop.register.after_content_header') }}

    <div class="row register">
        <div class="col-12 segment">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="text-center">{{ 'sylius.ui.create_your_account' | trans }}</h1>
                    <div class="instructions margin-0-auto">
                        <p>{{ 'sylius.ui.register_page_message' | trans }}</p>
                        <p>{{ 'sylius.ui.have_account_already' | trans }}<a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.sign_in_here'|trans }}</a></p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    {{ sonata_block_render_event('sylius.shop.register.before_form') }}

                    {{ form_start(form, {'action': path('sylius_shop_register'), 'attr': {'class': 'ui loadable form margin-0-auto', 'novalidate': 'novalidate'}}) }}
                    {% include '@SyliusShop/Register/_form.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.register.form', {'form': form}) }}

                    <p class="text-center small">{{ 'sylius.ui.required_fields' | trans }}</p>

                    <div class="text-center">
                        <button type="submit" class="btn-rounded">
                            {{ 'sylius.ui.create_an_account'|trans }}
                        </button>
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}

                    <div class="text-center">
                        <h3 class="text-center mt-3">{{ 'sylius.ui.create_an_account_using_social_networks' | trans }}</h3>

                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn-login-with facebook">
                            <i class="fab fa-facebook-square"></i>
                            {{ 'sylius.ui.register_with'|trans }} Facebook
                        </a>
                    </div>

                    <p class="text-center mt-4">{{ 'sylius.ui.by_registering_you_are_accepting' | trans }}<a data-toggle="modal" data-target="#termsModal" class="text-lowercase">{{ 'sylius.ui.terms_and_conditions' | trans }}</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Terms Modal -->
    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="termsModalLabel">{{ 'sylius.ui.terms_and_conditions' | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You’ve heard the expression, “Just believe it and it will come.” Well, technically, that is true, however, ‘believing’ is not just thinking that you can have it; it is also feeling that it is possible. When we believe that we can “have it,” that means we have no doubt in receiving it.
                    In the formula for Deliberate Attraction:
                    <br>
                    <br>
                    (1) Identify Desire
                    <br><br>
                    (2) Raise the Vibration (feeling)
                    <br><br>
                    (3) Allow it
                    <br><br>
                    the allowing of your desire can come to you very quickly providing you have no resistance to receiving it.
                    <br><br>
                    Resistance = Doubt
                    <br><br>
                    When you remove the ‘doubt’ that you can have what you want, you are allowing and that is how it can come to you.
                    <br><br>
                    Tools for allowing:
                    <br><br>
                    There are a number of tools, techniques and strategies that can help you remove the doubt (resistance). Here is one that I like best.
                    <br><br>
                    Ask yourself this question:
                    <br><br>
                    “Is there anyone on the planet doing or having what you desire?”
                    <br><br>
                    For example, if your desire is to attract your ideal client, or your ideal relationship, then you could ask yourself: “Is there anyone on the planet who has attracted their ideal client?”
                    <br><br>
                    Yes, there are millions of people on the planet who have attracted their ideal clients.
                    <br><br>
                    NOW THIS FEELS POSSIBLE!
                    <br><br>
                    And when it feels possible, you have removed doubt.
                    <br><br>
                    And when you remove the doubt, the universal Law of Attraction can bring your desires to you.
                    <br><br>
                    When using the formula for Deliberate Attraction, spend most of your time “Allowing,” as it determines how quickly, or slowly, your desires will come to you.
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn-rounded mr-3" data-dismiss="modal">{{ 'sylius.ui.not_accept' | trans }}</button>
                    <button type="button" class="btn-rounded">{{ 'sylius.ui.accept' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function ($) {
            $('input[type="radio"][value=""]').closest('div.field').attr('class', 'd-none');
            $('input[type="radio"]').closest('div.toggle').removeClass("checkbox");
        });
    </script>
{% endblock %}
