{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}

{% block extracontent %}
    <div class="row profile pt-4 favorites page cart-summary">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
            <h1 class="text-center">{{ 'app.ui.my_cart'|trans }}</h1>
            <p>{{ 'app.ui.minimum_purchase_price_message_%price%'|trans({'%price%': about_store('min-purchase')}) }}</p>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5">
            {% if not cart.empty %}
                {{ sonata_block_render_event('sylius.shop.cart.summary.after_content_header', {'cart': cart}) }}

                <div class="row products-exist">
                    {{ sonata_block_render_event('sylius.shop.cart.summary.before_items', {'cart': cart}) }}

                    {% include '@SyliusShop/Cart/Summary/_items.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.cart.summary.after_items', {'cart': cart}) }}
                </div>

                <div class="row products-exist">
                    <div class="col-12 buttons text-right">
                        <a class="btn-rounded inverted d-inline-block" href="{{ path('sylius_shop_homepage') }}">{{ 'app.ui.view_more_products'|trans }}</a>
                        <a id="to-pay" class="btn-rounded d-inline-block" href="{{ path('sylius_shop_checkout_start') }}">{{ 'app.ui.proceed_to_pay'|trans }}</a>
                    </div>
                </div>

{#                <div class="five wide column">#}
{#                    {{ sonata_block_render_event('sylius.shop.cart.summary.before_totals', {'cart': cart}) }}#}

{#                    {% include '@SyliusShop/Cart/Summary/_totals.html.twig' %}#}

{#                    {{ sonata_block_render_event('sylius.shop.cart.summary.after_totals', {'cart': cart}) }}#}

{#                    {% include '@SyliusShop/Cart/Summary/_checkout.html.twig' %}#}
{#                </div>#}

                {{ sonata_block_render_event('sylius.shop.cart.summary.before_suggestions', {'cart': cart}) }}

                <div id="empty-cart" class="text-center pt-5 pl-5 ml-5 pb-5 pr-5 mr-5 xs-ml-0 xs-mr-0 xs-pr-0 xs-pl-0" style="display: none">
                    <img src="{{ asset('bundles/syliusshop/img/icons/empty-cart.png') }}" title="{{ 'app.ui.cart.empty'|trans }}" alt="{{ 'app.ui.cart.empty'|trans }}" width="auto" height="auto">
                    <h2 class="mt-5 mb-5 xs-text-left">{{ 'app.ui.cart.empty_instructions'|trans }}</h2>
                    <a class="btn-rounded inverted d-inline-block" href="{{ path('sylius_shop_homepage') }}">{{ 'app.ui.go_to_home'|trans }}</a>
                </div>

                <div class="modal smaller fade" id="deleteFavorite" tabindex="-1" role="dialog" aria-labelledby="deleteFavoriteLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="deleteFavoriteLabel">{{ 'app.ui.cart.delete_product'|trans }}</h5>
                            </div>
                            <div class="modal-body text-center">
                                <p>{{ 'app.ui.cart.delete_product.are_you_sure?'|trans }}</p>
                                <div class="content"></div>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn-rounded inverted" data-dismiss="modal">{{ 'app.ui.back'|trans }}</button>
                                <button id="delete" data-id="" type="button" class="btn-rounded">{{ 'app.ui.cart.delete_from'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal smaller fade" id="showMessage" tabindex="-1" role="dialog" aria-labelledby="showMessageLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="showMessageLabel"></h5>
                            </div>
                            <div class="modal-body text-center"></div>
                            <div class="modal-footer text-center">
                                <button id="cleanForm" type="button" class="btn-rounded" data-dismiss="modal">{{ 'app.ui.accept.short'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="text-center pt-5 pl-5 ml-5 pb-5 pr-5 mr-5 xs-ml-0 xs-mr-0 xs-pr-0 xs-pl-0">
                    <img src="{{ asset('bundles/syliusshop/img/icons/empty-cart.png') }}" title="{{ 'app.ui.cart.empty'|trans }}" alt="{{ 'app.ui.cart.empty'|trans }}" width="auto" height="auto">
                    <h2 class="mt-5 mb-5 xs-text-left">{{ 'app.ui.cart.empty_instructions'|trans }}</h2>
                    <a class="btn-rounded inverted d-inline-block" href="{{ path('sylius_shop_homepage') }}">{{ 'app.ui.go_to_home'|trans }}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% if not cart.empty %}
    {% block extrajs %}
        <script>
            $(function () {
                var $deleteModal = $('#deleteFavorite');
                var $modal = $('#showMessage');
                var $productsList = $('.products-list');
                var noItems = {{ cart.items|length|e('js') }};
                var $toPay = $('#to-pay');
                var $updateCart = $('#sylius_cart');

                $('.quantity-up').click(function () {
                    calculateSubtotal($(this).closest('div.form'));
                });

                $('.quantity-down').click(function () {
                    calculateSubtotal($(this).closest('div.form'));
                });

                $('input[type="number"]').change(function () {
                    calculateSubtotal($(this).closest('div.form'));
                });

                $productsList.find('.product-item').each(function () {
                    calculateSubtotal($(this).find('.form'));
                });

                $toPay.click(function (evt) {
                    evt.preventDefault();
                    var value = $('.total .value').attr('data-value');

                    if (value < {{ about_store('min-purchase')|e('js') }}) {
                        $modal.find('.modal-title').html('{{ 'app.ui.cart.minimum.title'|trans }}');
                        $modal.find('.modal-body').html('{{ 'app.ui.cart.minimum.message_%price%'|trans({'%price%': about_store('min-purchase') }) }}');
                        $modal.modal('show');
                    } else if (value > {{ about_store('max-purchase')|e('js') }}) {
                        $modal.find('.modal-title').html('{{ 'app.ui.cart.max.title'|trans }}');
                        $modal.find('.modal-body').html('{{ 'app.ui.cart.max.message_%price%'|trans({'%price%': about_store('max-purchase') }) }}');
                        $modal.modal('show');
                    } else {
                        $('#sylius-cart-update').trigger('click');
                    }

                });

                $('a.delete').click(function () {
                    var id = $(this).data('id');
                    var item = $(this).data('item');
                    var $content = $('.products-list').find('.p-' + id)[0].outerHTML;

                    $deleteModal.find('.content').html($content);
                    $deleteModal.find('#delete').attr('data-id', item);
                    $deleteModal.modal('show');
                });

                $('#delete').click(function () {
                    var id = $(this).attr('data-id');
                    $deleteModal.modal('hide');
                    $('#delete-'+ id).submit();
                });

                function calculateSubtotal($form) {
                    var quantity = $form.find('input').val();
                    var priceWithCode = $form.data('price').split(/(\s+)/);
                    var currency = priceWithCode[0];
                    var price = priceWithCode[2];
                    var total = quantity*price;

                    $form.find('.sub-total').html(currency + ' ' + total.toFixed(2)).attr('data-currency', currency).attr('data-value', total);

                    calculateTotal();
                }

                function calculateTotal() {
                    var total = 0;
                    var currency = "";

                    $('body').find('.sub-total').each(function () {
                        var $sub = $(this);

                        total += Number($sub.attr('data-value'));
                        currency = $sub.attr('data-currency');
                    });

                    $('.total .value').html(currency + ' ' + total.toFixed(2)).attr('data-value', total);
                }

                // Animated element removal
                function cuteHide(el) {
                    el.animate({opacity: '0'}, 150, function(){
                        el.animate({height: '0px'}, 150, function(){
                            el.remove();
                        });
                    });

                    setTimeout(function () {
                        findFirstProduct();
                    }, 500);
                }

                function showEmptyCart() {
                    $('.products-exist').remove();
                    $('#empty-cart').fadeIn(450);
                }

                findFirstProduct();

                function findFirstProduct() {
                    var i = 0;

                    $productsList.find('.product-item.view').each(function () {
                        var $product = $(this);

                        if (i === 0) {
                            $product.addClass('first');
                        } else {
                            $product.removeClass('first');
                        }

                        i++;
                    });
                }

                $('form.delete-product').on('submit', function (e) {
                    e.preventDefault();
                    var $this = $(this);

                    blockPage();
                    $.ajax({
                        type: 'POST',
                        url: $this.attr('action'),
                        data: $(this).serialize(),
                        success: function () {
                            noItems--;
                            unblockPage();

                            if (noItems > 0) {
                                cuteHide($('.products-list').find('.product-' + $this.data('id')));
                                setTimeout(function () {
                                    calculateTotal();
                                }, 500);
                            } else {
                                showEmptyCart();
                            }
                        },
                        error: function (error) {
                            let recordset = error['responseJSON']['recordset'];
                            var errorMsg = '{{ 'app.ui.cart.delete_product.error.message'|trans }}';
                            $modal.find('.modal-title').html('{{ 'app.ui.cart.delete_product.error'|trans }}');

                            if (recordset['errors']) {
                                errorMsg = recordset['errors']['errors'][0];
                            }

                            $modal.find('.modal-body').html(errorMsg);

                            unblockPage();
                            $modal.modal('show');
                        }
                    });
                });

                $updateCart.on('submit', function (e) {
                    e.preventDefault();
                    var $this = $(this);

                    blockPage();
                    $.ajax({
                        type: 'POST',
                        url: $this.attr('action'),
                        data: $(this).serialize(),
                        success: function () {
                            unblockPage();
                            var logged = {% if is_granted('ROLE_USER') %}true{% else %}false{% endif %}

                            if (logged) {
                                window.location.href = "{{ path('sylius_shop_checkout_start') }}";
                            } else {
                                window.location.href = "{{ path('sylius_shop_register') }}";
                            }
                        },
                        error: function (error) {
                            var errorMsg = '{{ 'app.ui.cart.update.error.message'|trans }}';
                            $modal.find('.modal-title').html('{{ 'app.ui.cart.update.error'|trans }}');
                            $modal.find('.modal-body').html(errorMsg);

                            unblockPage();
                            $modal.modal('show');
                        }
                    });
                });
            });
        </script>
    {% endblock %}
{% endif %}
