{% extends "/admin/base.html.twig" %}

{% block title %}{{ 'app.ui.send_push'|trans }}{% endblock %}

{% block content %}
    <div class="col-lg-12">

        <div class="row wrapper page-heading">
            <div class="col-sm-4">
                <h1>{{ 'app.ui.send_push'|trans }}</h1>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    <a href="#" class="btn btn-primary btn-lg btn-standard-width">
                        <i class="fa fa-plus-circle pull-left"></i>
                        &nbsp;
                        {{'app.ui.new_push'|trans}}
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content no-padding">

                        <div class="search-box">
                            <form action="" method="get">
                                <input type="search" name="filter" class="search-box-input form-control" placeholder="{{ 'app.ui.search_box.push'|trans }}" value="{{ app.request.get('filter')|default('') }}">
                            </form>
                        </div>

                        <div class="table-responsive-sm">
                            <table class="table top-products-table">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>{{ 'app.ui.name'|trans }}</th>
                                    <th>{{ 'app.ui.date'|trans }}</th>
                                    <th>{{ 'app.ui.coupon_or_promotion'|trans }}</th>
                                    <th>{{ 'app.ui.segment_label'|trans }}</th>
                                    <th class="actions-header">{{ 'app.ui.actions'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for push in pagination %}
                                    <tr>
                                        <td>
                                            {% if push.type == constant('App\\Entity\\PushNotification::TYPE_INFO') %}
                                                <img src="{{ asset('meathouse/img/icons/push.svg') }}" alt="{{ 'app.ui.push'|trans }}" title="{{ 'app.ui.push'|trans }}">
                                            {% endif %}

                                            {% if push.type == constant('App\\Entity\\PushNotification::TYPE_PROMOTION') %}
                                                <img src="{{ asset('meathouse/img/icons/coupons.svg') }}" alt="{{ 'app.ui.push'|trans }}" title="{{ 'app.ui.push'|trans }}">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <h4>{{ push.title }}</h4>
                                        </td>
                                        <td>{{ push.createdAt|localizeddate("medium", "none") }}</td>
                                        <td>
                                            {{ push.promotionCoupon|default(push.promotion|default('app.ui.n/a'|trans)) }}
                                        </td>
                                        <td>{{ push.segment|default('app.ui.all_segments'|trans) }}</td>
                                        <td>
                                            <a href="{{ path('push_show', {id: push.id}) }}" class="btn btn-default btn-action-button">
                                                {{ 'app.ui.view'|trans }}
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            {{ 'app.ui.no_push_found'|trans }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block styles %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
$(document).ready(function() {
});
</script>
{% endblock %}
