{% if form %}
    {% set type = app.session.get('payment') %}
    {% set card = app.session.get('card') %}
    <div class="grouped fields">
        <div class="field">
            <div id="add-payment" class="radio {% if type == "card" %}checked{% endif %}">
                <input type="radio" class="add-data" name="payment_type" value="card" {% if type == "card" %}checked="checked"{% endif %}><label><p>{{ 'app.ui.checkout.order.payment.card'|trans }}</p></label><span class="check-mark"></span>
            </div>
        </div>
        <div class="field">
            <div id="skip-payment" class="radio {% if type == "cash_on_delivery" %}checked{% endif %}">
                <input type="radio" class="add-data" name="payment_type" value="cash_on_delivery" {% if type == "cash_on_delivery" %}checked="checked"{% endif %}><label><p>{{ 'app.ui.checkout.order.payment.cash_on_delivery'|trans }}</p></label><span class="check-mark"></span>
            </div>
        </div>
    </div>

    <div class="payment-form" {% if type == "cash_on_delivery" %}style="display: none"{% endif %}>
        <div class="card-wrapper mt-4 mb-4"></div>
        <div class="form-container">
            {{ form_row(form.number, {'value': card.number|default('')}) }}
            {{ form_row(form.name, {'value': card.name|default('')}) }}
            {{ form_row(form.expirationDate, {'value': card.expirationDate|default('')}) }}
            {{ form_row(form.cvv, {'value': card.cvv|default('')}) }}
        </div>

        <p class="warning text-center mt-4">{{ 'app.ui.checkout.payment.warning'|trans }}</p>
    </div>
{% else %}
    {% include '@SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
{% endif %}
