{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block subcontent %}
    <div class="row login pass-change pt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{{ path('sylius_shop_account_dashboard') }}"><i class="fas fa-chevron-left"></i> {{ 'app.ui.back_to_profile'|trans }}</a>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">{{ 'app.ui.account.change_email'|trans }}</h1>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 segment mt-4 pt-4">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form_start(form, {'action': path('user_change_email'), 'attr': {'class': 'ui loadable form margin-0-auto', 'novalidate': 'novalidate'}}) }}
                    {{ sonata_block_render_event('sylius.shop.account.change_password.after_content_header', {'form': form}) }}

                    <div class="mb-5">
                        {{ 'app.ui.account.change_email.instructions'|trans|raw }}
                    </div>

                    <div class="text-left">
                        {{ form_row(form.email) }}
                        {{ form_row(form.newEmail) }}
                    </div>

                    {{ sonata_block_render_event('sylius.shop.account.change_password.form', {'form': form}) }}

                    {% if errors|length > 0 %}
                        <div class="errors">
                            <span class="invalid-feedback d-block"><span class="d-block">
                                <span class="form-error-icon badge badge-danger text-uppercase">{{ 'app.ui.error'|trans }}</span>
                                <span class="form-error-message">{{ errors['email']|trans }}</span></span>
                            </span>
                        </div>
                    {% endif %}

                    <div class="divider mt-5 mb-3"></div>

                    <button type="submit" class="btn-rounded">{{ 'app.ui.save'|trans }}</button>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal smaller fade" id="showMessage" tabindex="-1" role="dialog" aria-labelledby="showMessageLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="showMessageLabel">{{ 'app.ui.account.change_email.success.title'|trans }}</h5>
                </div>
                <div class="modal-body text-center">{{ 'app.ui.account.change_email.success.message_%email%'|trans({'%email%': user.email}) }}</div>
                <div class="modal-footer text-center">
                    <a href="{{ path('sylius_shop_account_dashboard') }}" class="btn-rounded">{{ 'app.ui.account.change_email.send'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(function () {
            if (getParameterByName('success')) {
                $('#showMessage').modal('show');
            }
        });
    </script>
{% endblock %}

