{% extends "/admin/base.html.twig" %}

{% block title %}{{ 'app.ui.dashboard'|trans }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="m-t-lg">
            <h1>{{ 'app.ui.dashboard'|trans }}</h1>
            <br><br>

            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3 class="text-center">{{ 'app.ui.gender.label'|trans }} <br> {{ 'app.ui.total'|trans }}: {{dashboard.customerTotal|default('app.ui.n/a'|trans)}}</h3>
                            <canvas id="doughnutGenderChart" height="200"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3 class="text-center">{{ 'app.ui.user_age'|trans }} <br> {{ 'app.ui.total'|trans }}: {{dashboard.customerTotal|default('app.ui.n/a'|trans)}}</h3>
                            <canvas id="doughnutAgesChart" height="200"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3 class="text-center">{{ 'app.ui.purchases_per_user'|trans }} <br> {{ 'app.ui.total'|trans }}: {{dashboard.customerTotal|default('app.ui.n/a'|trans)}}</h3>
                            <canvas id="doughnutPurchasesChart" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox filter-ibox">
                        <div class="ibox-content">
                            <br>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label for="filter-start-date">{{ 'app.ui.start_date'|trans }}</label>
                                            </div>

                                            <div class="col-sm-9">
                                                <input id="filter-start-date" type="text" placeholder="" class="form-control datepicker" value="{{ app.request.get('start')|default('now'|date_modify(constant('App\\Service\\DashboardService::START_DATE_MODIFIER'))|date('d/m/Y')) }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label for="filter-end-date">{{ 'app.ui.end_date'|trans }}</label>
                                            </div>

                                            <div class="col-sm-9">
                                                <input id="filter-end-date" type="text" placeholder="" class="form-control datepicker" value="{{ app.request.get('end')|default('now'|date('d/m/Y')) }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <a id="filter-dates-button" href="#" class="btn btn-block btn-lg btn-primary">
                                        {{ 'app.ui.filter'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3 class="text-center">{{ 'app.ui.purchases_in_date_range'|trans }}</h3>
                            <canvas id="barOrdersChart" height="100"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3 class="text-center">{{ 'app.ui.number_of_orders'|trans }} <br> Total: {{ dashboard.orderTotal|default('app.ui.n/a'|trans) }}</h3>
                            <canvas id="doughnutOrdersChart" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h2 class="rating-title">{{ 'app.ui.average_rating'|trans }}</h2>

                            <div class="rating-stars">
                                {% for i in 1..constant('App\\Entity\\Order\\Order::MAX_RATING') %}
                                    <i class="fa fa-star {% if i <= dashboard.averageRating %}yellow{% endif %}"></i>
                                {% endfor %}
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content no-padding">
                            <br><br>
                            <h3 class="text-center">{% trans with {'%x%': 5} %}app.ui.top_%x%_most_purchased_products{% endtrans %}</h3>
                            <br>

                            <table class="table top-products-table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'app.ui.product'|trans }}</th>
                                    <th>{{ 'app.ui.current_price'|trans }}</th>
                                    <th>{{ 'app.ui.quantity'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Churrasquito</td>
                                    <td>Q34.00</td>
                                    <td>340</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Coulotte</td>
                                    <td>45.00</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Torta de res</td>
                                    <td>45.00</td>
                                    <td>230</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Tilapia</td>
                                    <td>34.00</td>
                                    <td>150</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
    <!-- ChartJS-->
    <script src="{{ asset('meathouse/js/plugins/chartJs/Chart.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            var $filterDatesButton = $('#filter-dates-button');
            var $filterDatesStartDate = $('#filter-start-date');
            var $filterDatesEndDate = $('#filter-end-date');

            $filterDatesButton.on('click', function(e) {
                e.preventDefault();
                var startDate = $filterDatesStartDate.val();
                var endDate = $filterDatesEndDate.val();

                window.location = '{{ path('dashboard_index') }}?start=' + startDate + '&end=' + endDate;

            });

            $('.datepicker').datepicker({
                'language': '{{ app.request.locale }}',
                'format': 'dd/mm/yyyy',
            });

            var doughnutOptions = {
                responsive: true
            };

            var barOptions = {
                responsive: true,
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                            stepSize: 2
                        }
                    }]
                }
            };

            var genderData = {
                labels: ["{{'app.ui.gender.female'|trans}}","{{'app.ui.gender.male'|trans}}","{{'app.ui.gender.undefined'|trans}}" ],
                datasets: [{
                    data: ["{{ dashboard.genderChartData.f }}","{{ dashboard.genderChartData.m }}", "{{ dashboard.genderChartData.u }}"],
                    backgroundColor: ["#FF8E36","#2A87E5","#2AE562"]
                }]
            };

            var genderChart = document.getElementById("doughnutGenderChart").getContext("2d");
            new Chart(genderChart, {type: 'doughnut', data: genderData, options:doughnutOptions});

            var agesData = {
                labels: ["18-", "18-24", "25-34", "35-44", "45+", "{{ 'app.ui.n/a'|trans }}"],
                datasets: [{
                    data: ["{{dashboard.userAgeChartData["117"]}}", "{{dashboard.userAgeChartData['1824']}}", "{{dashboard.userAgeChartData['2534']}}", "{{dashboard.userAgeChartData['3544']}}", "{{dashboard.userAgeChartData['451000']}}", "{{dashboard.userAgeChartData['na']}}"],
                    backgroundColor: ["#AB162B", "#2A87E5","#2AE562","#FF8E36", "#E52AAD", "#2AE5D2"]
                }]
            };

            var agesChart = document.getElementById("doughnutAgesChart").getContext("2d");
            new Chart(agesChart, {type: 'doughnut', data: agesData, options:doughnutOptions});

            var purchasesData = {
                labels: ["{{ 'app.ui.users_with_purchases'|trans }}","{{ 'app.ui.users_without_purchases'|trans }}"],
                datasets: [{
                    data: ["{{ dashboard.purchasesByUserData['purchases'] }}", "{{ dashboard.purchasesByUserData['no_purchases'] }}"],
                    backgroundColor: ["#2AE562","#2A87E5"]
                }]
            };

            var purchasesBar = document.getElementById("doughnutPurchasesChart").getContext("2d");
            new Chart(purchasesBar, {type: 'bar', data: purchasesData, options:barOptions});


            var ordersData = {
                labels: ["{{ 'app.ui.order.status.delivered'|trans }}","{{ 'app.ui.order.status.cancelled'|trans }}", "{{ 'app.ui.order.status.pending'|trans }}"],
                datasets: [{
                    data: ["{{ dashboard.numberOfOrdersChartData['fulfilled'] }}", "{{ dashboard.numberOfOrdersChartData['cancelled'] }}", "{{ dashboard.numberOfOrdersChartData['awaiting_payment'] }}"],
                    backgroundColor: ["#F5A623","#4A90E2","#7ED321"]
                }]
            } ;

            var ordersChart = document.getElementById("doughnutOrdersChart").getContext("2d");
            new Chart(ordersChart, {type: 'doughnut', data: ordersData, options:doughnutOptions});


            var barOrdersData = {
                labels: [
                    {% for date in dashboard.purchasesInDateRangeChartData %}
                    "{{ date['label'] }}",
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for date in dashboard.purchasesInDateRangeChartData %}
                        "{{ date['purchases'] }}",
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for date in dashboard.purchasesInDateRangeChartData %}
                        "#2AE562",
                        {% endfor %}
                    ]
                }]
            };

            var barOrdersChart = document.getElementById("barOrdersChart").getContext("2d");
            new Chart(barOrdersChart, {type: 'bar', data: barOrdersData, options:barOptions});
        });
    </script>
{% endblock %}
