{% extends '/admin/security.html.twig' %}

{% block title %} {{ 'app.ui.first_login.create_a_password'|trans }} {% endblock %}

{% block content %}

    <div class="login-header top-box text-center ibox-content">
        <div>
            <img src="{{ asset('meathouse/img/logo_black.png') }}" alt="{{ app_name }}">

            <h1>{{ 'app.ui.first_login.create_a_password'|trans }}</h1>
            <p>{{ 'app.ui.first_login.motd'|trans }}</p>
        </div>

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                {% if  app.user %}
                    <form class="m-t" role="form" method="post" novalidate>

                        {{ include('admin/security/_flashes.html.twig') }}

                        <div class="form-group">
                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                        </div>
                        <br><br>

                        <input type="hidden" name="first_login[_token]" value="{{ form._token.vars.value }}">

                        <button type="submit" class="btn btn-primary width-225 m-b">
                            {{ 'app.ui.login.title'|trans }}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
