{% extends '/admin/security.html.twig' %}
{% import "admin/_macros.html.twig" as UI %}

{% block title %} {{ 'app.ui.first_login.create_a_password'|trans }} {% endblock %}

{% block styles %}
    <style>
        #top-left-actions {
            margin-top: -40px;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 40px;
        }

        #top-left-actions .btn-back-button, .btn-back-button:hover {
            color: #AB162B;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-header top-box text-center ibox-content">
        <div id="top-left-actions">
            {{ UI.back(path('app_login'), 'app.ui.forgot_password_back_to_login') }}
        </div>
        <div>
            <img src="{{ asset('meathouse/img/logo_black.png') }}" alt="{{ app_name }}">

            <h1>{{ 'app.ui.forgot_password.request_a_new_password'|trans }}</h1>
            <p>{{ 'app.ui.forgot_password.motd'|trans }}</p>
        </div>

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <form class="m-t" role="form" method="post" novalidate>

                    {{ include('admin/security/_flashes.html.twig') }}

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <br><br>

                    {{ form_widget(form._token) }}

                    <button type="submit" class="btn btn-primary width-225 m-b">
                        {{ 'app.ui.forgot_password.request_password_title'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
