{% extends "/admin/base.html.twig" %}
{% import "admin/_macros.html.twig" as UI %}

{% block title %}{{ 'app.ui.new_segment'|trans }}{% endblock %}

{% block content %}
    <div class="col-lg-12">

        <div class="row wrapper page-heading">
            <div class="col-sm-12">
                {{ UI.back(path('segments_index'), 'app.ui.back_to_segments') }}
                <br>
                <h1>{{ 'app.ui.new_segment'|trans }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content padding-55">
                        {{ include('/admin/segment/_form.html.twig', { newButtonLabel: 'app.ui.segment.create'|trans }) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}


{% block javascript %}
{{ parent() }}
<script>
    $(document).ready(function () {
        var $integerOnly = $('.integer-only');

        $integerOnly.on('keypress input blur paste', function() {
            $(this).val($(this).val().replace(/\D/g, ''));
        });
    });
</script>
{% endblock %}
