{% extends '/admin/security.html.twig' %}

{% block title %} {{ 'app.ui.first_login.create_a_password'|trans }} {% endblock %}

{% block content %}

    <div class="login-header top-box text-center ibox-content">
        <div>
            <img src="{{ asset('meathouse/img/logo_black.png') }}" alt="{{ app_name }}">

            <h1>{{ 'app.ui.first_login.create_a_password'|trans }}</h1>
            <p>{{ 'app.ui.first_login.motd'|trans }}</p>
        </div>

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div id="messages-wrapper"></div>
            <div>
                {% if  app.user %}
                    <form class="m-t" role="form" method="post" novalidate>

                        {{ include('admin/security/_flashes.html.twig') }}

                        <div class="form-group">
                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                        </div>
                        <br><br>

                        <input type="hidden" name="first_login[_token]" value="{{ form._token.vars.value }}">

                        <button id="submit-button" type="submit" class="btn btn-primary width-225 m-b">
                            {{ 'app.ui.login.title'|trans }}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script !src="">
        $(document).ready(function () {
            var $loginButton = $('#submit-button');
            var $passwordControl1 = $('#first_login_password_first');
            var $passwordControl2 = $('#first_login_password_second');
            var $messagesWrapper = $('#messages-wrapper');

            function addMessage(message) {
                var id = Math.random().toString(36).substring(7);
                var alert = "<div id=\"alert-"+ id +"\" class=\"alert alert-danger\" style='display:none;'>"+ message +"</div>";
                $messagesWrapper.append(alert);

                $('#alert-' + id).slideDown();

                setTimeout(function () {
                    $('#alert-' + id).slideUp('fast', function () {
                        $('#alert-' + id).remove();
                    });
                }, 3 * 1000);
            }

            $loginButton.on('click', function (e) {
                e.preventDefault();
                var $form = $(this).closest('form');

                if ($passwordControl1.val() && $passwordControl2.val()) {
                    $form.submit();
                } else {
                    if (!$passwordControl1.val()) {
                        $passwordControl1.focus();
                    }

                    if (!$passwordControl2.val()) {
                        $passwordControl2.focus();
                    }

                    addMessage('Debes ingresar ambos campos para continuar.');
                }

            });
        });
    </script>
{% endblock %}
