{% extends '/admin/security.html.twig' %}
{% import "admin/_macros.html.twig" as UI %}

{% block title %} {{ 'app.ui.new_password.title'|trans }} {% endblock %}

{% block content %}
    <div class="login-header top-box text-center ibox-content">
        <div>
            <img src="{{ asset('meathouse/img/logo_black.png') }}" alt="{{ app_name }}">

            <h1>{{ 'app.ui.new_password.title'|trans }}</h1>
            <p>{{ 'app.ui.new_password.motd'|trans }}</p>
        </div>

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <form class="m-t" role="form" method="post" novalidate>

                    {{ include('admin/security/_flashes.html.twig') }}

                    <div class="form-group">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                    </div>
                    <br><br>

                    {{ form_widget(form._token) }}

                    <button type="submit" class="btn btn-primary width-225 m-b">
                        {{ 'app.ui.new_password.submit_text'|trans }}
                    </button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
