{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(order) %}
{% set taxIncluded = sylius_order_tax_included(order) %}
{% set taxExcluded = sylius_order_tax_excluded(order) %}

<div class="row">
    <div class="col-12">
        <h2>{{ 'app.ui.checkout.order.summary'|trans }}</h2>
    </div>
    <div class="col-12">
        <div class="row">
            {% for item in order.items %}
                <div class="col-12 item">
                    <div class="row">
                        <div class="col-12">
                            <p class="title">{{ item.getVariant.product.name }}</p>
                        </div>
                        <div class="col-12 extra">
                            <p><span>{{ 'app.ui.checkout.order.quantity'|trans }}</span> {{ item.quantity }} {{ 'app.ui.pound'|trans }}</p>
                            <p>{{ money.convertAndFormat(item.subtotal) }}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 totals">
        <div class="row">
            <div class="col-12">
                <p class="pre-title">{{ 'app.ui.cart.sub-total'|trans }}</p>
                <p>{{ money.convertAndFormat(itemsSubtotal) }}</p>
            </div>
            {% if order.promotionCoupon %}
            <div class="col-12">
                <p class="pre-title">{{ 'app.ui.cart.discount'|trans }}</p>
                <p>{{ money.convertAndFormat(order.orderPromotionTotal)|replace({'-': ''}) }}</p>
            </div>
            {% endif %}
            <div class="col-12">
                <p class="pre-title total">{{ 'app.ui.checkout.order.total'|trans }}</p>
                <p class="total">{{ money.convertAndFormat(order.total) }}</p>
            </div>
        </div>
    </div>
</div>
