{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block extracontent %}
    {{ sonata_block_render_event('sylius.shop.checkout.address.after_steps', {'order': order}) }}

    <div class="row profile pt-4 checkout checkout-address billing">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
            <h1 class="text-center">{{ 'app.ui.checkout.title'|trans }}</h1>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5 xs-pl-0 xs-pr-0 xs-mb-0">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="segment">
                        {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order} %}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-12">
                            <div class="segment">
                                {{ sonata_block_render_event('sylius.shop.checkout.address.before_form', {'order': order}) }}
                                <div class="row">
                                    <div class="col-12">
                                        <h2>{{ 'app.ui.checkout.first.title'|trans }}</h2>
                                    </div>
                                    <div class="col-12 your-info">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                        <p class="font-semi-bold">{{ 'app.ui.addressing_step'|trans }}</p>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <p>{{ order.shippingAddress.fullAddress }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                        <p class="font-semi-bold">{{ 'app.form.address.ask_for'|trans }}</p>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <p>{{ order.shippingAddress.annotations }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                        <p class="font-semi-bold">{{ 'app.form.address.phone_number'|trans }}</p>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <p>{{ order.shippingAddress.phoneNumber }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                        <p class="font-semi-bold">{{ 'app.ui.checkout.date'|trans }}</p>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <p class="to-format-date" data-date="{{ order.estimatedDeliveryDate|date('m-d-y') }}">{{ order.estimatedDeliveryDate|date('d/m/y') }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                        <p class="font-semi-bold">{{ 'app.ui.checkout.schedule'|trans }}</p>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <p>{{ order.preferredDeliveryTime|default('app.ui.checkout.order.preferred_time.none'|trans) }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <a href="{{ path('sylius_shop_checkout_address') }}" class="d-inline-block btn-rounded inverted">{{ 'sylius.ui.edit'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="segment" id="billing-step">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>{{ 'app.ui.checkout.second.title'|trans }}</h2>
                                    </div>
                                    <div class="col-12">
                                        {{ form_start(form, {'action': path('sylius_shop_checkout_billing'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
                                        <input type="hidden" name="_method" value="PUT" />

                                        {% include '@SyliusShop/Checkout/Billing/_form.html.twig' %}

                                        {{ sonata_block_render_event('sylius.shop.checkout.address.before_navigation', {'order': order}) }}

                                        {% include '@SyliusShop/Checkout/Address/_navigation.html.twig' %}

                                        {{ form_row(form._token) }}
                                        {{ form_end(form, {'render_rest': false}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="segment">
                                <div class="row">
                                    {% set type = app.session.get('payment') %}
                                        {% if not type %}
                                        <div class="col-12">
                                            <h2 class="mb-0">{{ 'app.ui.checkout.third.title'|trans }}</h2>
                                        </div>
                                    {% else %}
                                        {% set card = app.session.get('card') %}
                                        <div class="col-12">
                                            <h2>{{ 'app.ui.checkout.third.title'|trans }}</h2>
                                        </div>
                                        <div class="col-12 your-info">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                            <p class="font-semi-bold">{{ 'app.ui.checkout.payment.method.title'|trans }}</p>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                            <p>{{ ('app.ui.checkout.order.payment.' ~ type)|trans|default('app.ui.checkout.order.payment.card'|trans) }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if type == 'card' %}
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                                <p class="font-semi-bold">{{ 'app.ui.form.payment.number'|trans }}</p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                                <p>{{ card.number|default('')|card_mask }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                                <p class="font-semi-bold">{{ 'app.ui.form.payment.name'|trans }}</p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                                <p>{{ card.name|default('') }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                                <p class="font-semi-bold">{{ 'app.ui.form.payment.expiration_date'|trans }}</p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                                <p>{{ card.expirationDate|default('') }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                                <p class="font-semi-bold">{{ 'app.ui.form.payment.cvv'|trans }}</p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                                <p>{{ card.cvv|default('')|mask }}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <p class="warning text-center mt-4">{{ 'app.ui.checkout.payment.warning'|trans }}</p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <a href="{{ path('sylius_shop_checkout_select_payment') }}" class="d-inline-block btn-rounded inverted">{{ 'sylius.ui.edit'|trans }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(function () {
            var $body = $('body');
            var $skipForm = $('.skip-form');
            moment.locale('es');
            var step = document.querySelector("#billing-step");

            step.scrollIntoView({behavior: 'smooth'});

            $('.radio').click(function () {
                var $input = $(this).find('input');

                $input.prop('checked', true).change();
            });

            $('#skip-step').click(function () {
                $('#billing_checkout_billingAddress_firstName').val('{{ 'app.ui.checkout.billing.cf'|trans }}');
                $('#billing_checkout_billingAddress_taxId').val('{{ 'app.ui.checkout.billing.cf.short'|trans }}');
                $('#billing_checkout_billingAddress_fullAddress').val('{{ 'app.ui.checkout.billing.city'|trans }}');
                $skipForm.fadeOut(450);

                setTimeout(function () {
                    $('#next-step').trigger('click');
                }, 500);
            });

            $body.find('.to-format-date').each(function () {
                var $input = $(this);
                var date = $input.data('date');

                $input.text(firstToUpper(moment(date).format('dddd')) + ' ' + moment(date).format('LL'));
            });
        });
    </script>
{% endblock %}
