{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block extracontent %}
{#    {% include '@SyliusShop/Checkout/_steps.html.twig' %}#}

    {{ sonata_block_render_event('sylius.shop.checkout.address.after_steps', {'order': order}) }}

    <div class="row profile pt-4 checkout checkout-address">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
            <h1 class="text-center">{{ 'app.ui.checkout.title'|trans }}</h1>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-5 xs-pl-0 xs-pr-0 xs-mb-0">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="segment">
                        {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order} %}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-12">
                            <div class="segment">
                                {{ sonata_block_render_event('sylius.shop.checkout.address.before_form', {'order': order}) }}
                                <div class="row">
                                    <div class="col-12">
                                        <h2>{{ 'app.ui.checkout.first.title'|trans }}</h2>
                                    </div>
                                    <div class="col-12 your-info">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <p class="font-semi-bold">{{ 'app.ui.addressing_step'|trans }}</p>
                                                    </div>
                                                    <div class="col-8">
                                                        <p>{{ order.shippingAddress.fullAddress }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <p class="font-semi-bold">{{ 'app.form.address.ask_for'|trans }}</p>
                                                    </div>
                                                    <div class="col-8">
                                                        <p>{{ order.shippingAddress.firstName }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <p class="font-semi-bold">{{ 'app.form.address.phone_number'|trans }}</p>
                                                    </div>
                                                    <div class="col-8">
                                                        <p>{{ order.shippingAddress.phoneNumber }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <p class="font-semi-bold">{{ 'app.ui.checkout.date'|trans }}</p>
                                                    </div>
                                                    <div class="col-8">
                                                        <p>{{ order.estimatedDeliveryDate|date('d/m/y') }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <p class="font-semi-bold">{{ 'app.ui.checkout.schedule'|trans }}</p>
                                                    </div>
                                                    <div class="col-8">
                                                        <p>{{ order.preferredDeliveryTime|default('app.ui.checkout.order.preferred_time.none'|trans) }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <a href="{{ path('sylius_shop_checkout_address') }}" class="d-inline-block btn-rounded inverted">{{ 'sylius.ui.edit'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="segment">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>{{ 'app.ui.checkout.second.title'|trans }}</h2>
                                    </div>
                                    <div class="col-12">
                                        {{ form_start(form, {'action': path('sylius_shop_checkout_billing'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
                                        {#                        {{ form_errors(form) }}#}
                                        <input type="hidden" name="_method" value="PUT" />

                                        {% include '@SyliusShop/Checkout/Billing/_form.html.twig' %}

                                        {{ sonata_block_render_event('sylius.shop.checkout.address.before_navigation', {'order': order}) }}

                                        {% include '@SyliusShop/Checkout/Address/_navigation.html.twig' %}

                                        {{ form_row(form._token) }}
                                        {{ form_end(form, {'render_rest': false}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="segment">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="mb-0">{{ 'app.ui.checkout.third.title'|trans }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(function () {
            let $radio = $('input[type="radio"]');
            let $showScheduled = $('#show-scheduled');
            let $scheduled = $('.scheduled-date');
            var $preferred = 0;

            {% if order.preferredDeliveryTime %}
                {% set preferred = order.preferredDeliveryTime %}
                {% if preferred == 'app.ui.checkout.order.preferred_time.first'|trans %}
                    $preferred = 1;
                {% endif %}
                {% if preferred == 'app.ui.checkout.order.preferred_time.second'|trans %}
                    $preferred = 2;
                {% endif %}
                {% if preferred == 'app.ui.checkout.order.preferred_time.third'|trans %}
                    $preferred = 3;
                {% endif %}
            {% endif %}

            if ($radio.closest('div.toggle').find('label').length <=0 ) {
                $radio.closest('div.toggle').append("<label></label>");
            }

            $('input[type="radio"]:first-of-type').closest('div.toggle').find('label').html("<p>{{ 'app.ui.checkout.order.preferred_time.none'|trans }}</p>");
            $('input[type="radio"][value="1"]').closest('div.toggle').find('label').html("<p>{{ 'app.ui.checkout.order.preferred_time.first'|trans }}</p>");
            $('input[type="radio"][value="2"]').closest('div.toggle').find('label').html("<p>{{ 'app.ui.checkout.order.preferred_time.second'|trans }}</p>");
            $('input[type="radio"][value="3"]').closest('div.toggle').find('label').html("<p>{{ 'app.ui.checkout.order.preferred_time.third'|trans }}</p>");
            $radio.closest('div.toggle').removeClass("toggle").removeClass("ui").removeClass("checkbox").addClass("radio").append("<span class=\"check-mark\"></span>");

            if ($preferred > 0) {
                $('input[type="radio"][value="' + $preferred + '"]').prop('checked', true).change();
            }

            $('.radio').click(function () {
                var $input = $(this).find('input');

                $input.prop('checked', true).change();
            });

            $showScheduled.click(function () {
                $(this).hide();
                $scheduled.slideDown(450);
            });

            $('.scheduled-date .close-btn').click(function () {
                $scheduled.find('input').val(null);
                $scheduled.hide();
                $showScheduled.slideDown(450);
            });

            var today = new Date();
            var min = new Date();
            var max = new Date();
            min.setDate(today.getDate() + 1);
            max.setDate(today.getDate() + {{ about_store('days-to-choose')|default(0)|e('js') }});

            $('.datepicker').datepicker({
                minDate: min,
                maxDate: max
            });
        });
    </script>
{% endblock %}
