<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 border-right">
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.user.plainPassword.first) }}
        {{ form_row(form.user.plainPassword.second) }}
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <p class="small">{{ 'sylius.ui.optional_fields_to_offers' | trans }}</p>
        {{ form_row(form.birthday) }}
        {{ form_row(form.gender) }}
        {#{{ form_row(form.phoneNumber) }}#}
        {#{{ form_row(form.subscribedToNewsletter) }}#}
    </div>
</div>
