{% extends 'Email/base.html.twig' %}

{% block subject %}
    {{ 'app.email.admin_password_request_subject'|trans({'%app_name%': app_name}) }}
{% endblock %}

{% block title %}
    {{ 'app.email.admin.admin_password_request_message_title_%name%'|trans({'%name%': name }) }}
{% endblock %}

{% block content %}
    <td class="content-block text-center">
        <p class="text-center">{{ 'app.email.admin_password_request_message'|trans }}</p>
        <p class="text-center text-large">{{ code }}</p>
        <a href="{{ absolute_url(path('app_validate_token', {user: email, code: code})) }}" class="text-center">
            {{ 'app.email.admin.click_here_to_get_a_new_password'|trans }}
        </a>
    </td>
{% endblock %}

{% block button %}{% endblock %}
{% block image %}{% endblock %}
