{% extends 'Email/base.html.twig' %}

{% block subject %}
    {{ 'app.email.password_reset'|trans }}
{% endblock %}

{% block title %}
    {{ 'app.email.hello_%name%'|trans({'%name%': user.customer.firstName }) }}
{% endblock %}

{% block content %}
    <td class="content-block text-center">
        <p class="text-left">{{ 'app.email.to_reset_password'|trans }}</p>
        <br>
        <code>{{ user.passwordResetToken }}</code>
        <br><br>
        <p class="text-left">{{ 'app.email.reset_password.click_here'|trans }}</p>
    </td>
{% endblock %}

{% block button %}
    <a class="btn-primary" href="{{ absolute_url(path('store_set_token', {'token': user.passwordResetToken})) }}">{{ 'app.email.reset_password.reset'|trans }}</a>
{% endblock %}
